[2014-06-03 12:21] henriquebastos opened #1 "Imagem de perfil do usuário pelo Gravatar"
Já que o sistema tem o email de cada usuário, seria legal tentar extrair uma imagem de perfil do Gravatar em vez de usar a imagem padrão.

Existem libs prontas pra isso:

https://pypi.python.org/pypi/django-gravatar2/1.1.4
https://en.gravatar.com/site/implement/images/python/

[2014-06-03 12:25] henriquebastos opened #2 "Login por redes sociais"
Usando o python-social-auth é bem fácil permitir que os usuários associem suas contas do github, facebook ou google accounts p/ logar no site.

Isso poderia facilitar a dinâmica de compartilhamento informações dentro do site além de aumentar a visibilidade p/ novos usuários fora do site.
# sósugestão

@gissues:{"order":99.21875,"status":"notstarted"}

[2014-06-03 12:47] igr-santos opened #3 "i18n !"
- criar tradução do projeto.
- possibilitar a escolha da linguagem.

Posso fazer isso o que acha ?

[2014-06-05 05:26] ChillarAnand opened #8 "Unable to syncdb"
Cloned the repo and when I run
        python manage.py syncdb

I am getting this error
decouple.UndefinedValueError: SECRET_KEY option not found and default value was not defined.

[2014-06-05 06:31] luxifer opened #9 "gravatar"
Why not using gravatar for default avatar?
I'll take a look at the code and submit a PR if wanted

[2014-06-05 06:31] luxifer opened #10 "markdown"
Why not using markdown on the site?

[2014-06-05 11:57] #9 closed, assigned to nobody

[2014-06-05 14:42] JackWink opened #11 "Server Error when non-picture file is uploaded"
Attempt to upload PDF or other invalid image file, get back 500 server error on the demo

[2014-06-05 16:41] paulovictor opened #13 "Length of comments"
i think the length of the comment, should have a limit, because it is distorting the page

[2014-06-05 18:44] pgrangeiro opened #14 "Implementar uma ferramenta de pesquisa"
Com o crescente aumento das publicações pode se tornar trabalhoso encontrar  algum artigo em específico. Seria interessante também implementar a pesquisa para outras áreas do sistema, como usuários e perguntas.

[2014-06-05 22:03] #13 closed, assigned to vitorfs

[2014-06-05 22:07] #11 closed, assigned to vitorfs

[2014-06-05 23:13] #8 closed, assigned to nobody

[2014-06-06 11:31] brennebeck opened #16 "Search"
Even basic search functionality would be a _big_ enhancement.

[2014-06-07 00:22] svisser opened #17 "Not all dependecies are tied to versions in requirements.pip"
Not all dependencies in `requirements.pip` are tied to versions. To avoid issues when those dependencies upgrade, it's better to tie those to exact versions as well.

[2014-06-07 02:58] #17 closed, assigned to nobody

[2014-06-07 13:15] #16 closed, assigned to vitorfs

[2014-06-07 13:15] #14 closed, assigned to vitorfs

[2014-06-07 15:07] #3 closed, assigned to nobody

[2014-06-09 12:07] vitorfs opened #19 "Reputation system"
Refactor User Profile, add an integer field to store the user's reputation

Accepted answer: +10 reputation
Liked article: +5 reputation
Favorited question: +3 reputation
Liked feed: +1 reputation
Answer up vote: +1 reputation

Display reputation on users profile page and on feed/question pages
@gissues:{"order":50,"status":"inprogress"}

[2014-06-09 19:23] #10 closed, assigned to vitorfs

[2014-06-09 19:49] vitorfs opened #21 "display who liked a feed on hover"
Display the list of users who liked a given feed, on hover
@gissues:{"order":96.875,"status":"notstarted"}

[2014-06-09 20:00] vitorfs opened #22 "create rich edit for textareas that accept markdown"
Write Article View
Ask Question View
Answer View

[2014-06-09 22:29] #22 closed, assigned to vitorfs

[2014-06-23 09:06] xrfinbupt opened #27 "can we edit the published article?"
from http://trybootcamp.vitorfs.com/articles/
i find can't edit the published article?so,can you add the function?
@gissues:{"order":93.75,"status":"notstarted"}

[2014-06-23 16:32] rmasoni opened #28 "Correctly redirect user after login"
When you go to a specific URL and have to login first, it takes you to the index.

It should take you to the URL you were trying to access.
@gissues:{"order":53.125,"status":"notstarted"}

[2014-06-23 16:38] rmasoni opened #29 "Improve keyboard shortcut to submit comments"
It should accept `cmd`+`Enter` on OS X, just like GitHub.

Also, it's apparent that just before submitting, it's creating a line break. See: http://quick.as/vd2wcrqe
@gissues:{"order":62.5,"status":"notstarted"}

[2014-06-24 19:08] guilhermesg opened #30 "Develop a Simple WIKI"
It would be interesting develop a module that implements a simple wiki.
A quick way to collaborate in realtime.
@gissues:{"order":56.25,"status":"notstarted"}

[2014-07-06 11:25] #1 closed, assigned to vitorfs

[2014-07-09 13:04] vitorfs opened #31 "company signup"
federate multiple instances of bootcamp
@gissues:{"order":87.5,"status":"notstarted"}

[2014-07-15 22:09] jfkw opened #32 "Password reset and username reminder"
I signed up for the demo instance of trybootcamp early on. I can no longer log in due to forgotten username and/or password. I can no longer register with my email address due to the existing user record.

A basic facility to reset password and/or remind of username to configured email address would be helpful.
@gissues:{"order":75,"status":"notstarted"}

[2014-07-24 06:28] KAMAU-JT opened #33 "static files"

[2014-07-24 17:47] #33 closed, assigned to nobody

[2014-09-02 13:48] scofier opened #34 "Error: pg_config executable not found. (osx)"
pip install -U -r requirements.pip
Error: pg_config executable not found.

Solve:
brew install postgres --no-tcl
(http://stackoverflow.com/questions/24628567/install-specific-version-of-postgresql-on-mac-using-brew)
@gissues:{"order":50,"status":"notstarted"}

[2015-01-27 12:18] vitorfs opened #35 "Simple Chinese internationalization"
Anyone? :octocat: :cn:

https://docs.djangoproject.com/en/1.6/topics/i18n/translation/

[2015-02-03 13:53] #35 closed

[2015-02-07 16:09] vitorfs opened #37 "Migrate django 1.8"

[2015-02-07 16:10] vitorfs commented on #37
ops

[2015-02-08 14:53] xsurfer commented on #27
Hi, I've noticed that there is no per article authorization mechanism. You can edit articles that belongs to your account (e.g. http://trybootcamp.vitorfs.com/articles/edit/288/ )

[2015-06-15 16:02] sidharthshah commented on #37
@vitorfs I've take a first RAW stab at migrating 1.8. Please take a look at my [fork](https://github.com/sidharthshah/bootcamp/tree/master/1.8/bootcamp) Looking at the code I think once we migrate it to 1.8 then we can start making Function Based Views to Class Based Views which would improve the code and make it more current. I'd like to hear you suggestions.

[2015-06-15 16:53] vitorfs commented on #37
Good good, I will have a look.
I am planning to put some more effort on its development, and make this project more active. This is a good start.

[2015-06-16 01:55] sidharthshah commented on #37
@vitorfs I was thinking of writing some selenium test cases just to double check that migration would not break existing workflows. Do you have a list of workflows that I can take a look at for this?

[2015-07-11 06:09] amh28 opened #39 "do we need to create the postgres database and user ourselves?"

[2015-07-11 10:04] vitorfs commented on #39
Hello,

Yes, if you want to use a Postgres database, you must create the database and the user first. After that using "syncdb", Django will create all the tables for you

[2015-07-11 11:29] vitorfs commented on #34
Usually I solve the problem with

export PATH=$PATH:/Applications/Postgres.app/Contents/Versions/9.3/bin

Anyway I gotta remove postgres as a dependency of the project... I mean, you can run it with any other db Django supports

[2015-07-11 11:29] #34 closed

[2015-07-11 12:21] #39 closed

[2015-07-11 17:18] amh28 commented on #39
Thanks for your fast response! thats very nice of you

[2015-10-31 08:19] maxwintko opened #40 "webservice endpoint?"
Hi

I am new to Bootcamp and I am thinking to use it in my mobile project. Wondering if bootcamp already have webservice endpoint to communicate with mobile directly? If not i am happy to develop one and contribute.

Thanks

[2015-10-31 09:11] vitorfs commented on #40
Hi Max,

We don't have it at the moment. Perhaps, integrating Bootcamp with [Django REST Framework](http://www.django-rest-framework.org) might solve your problem

[2016-03-26 16:29] KatherineMichel commented on #37
@sidharthshah The project has been migrated to Django 1.9 now icymi.

[2016-04-27 09:44] ozdesign opened #41 "Admin Credentials"
Does bootcamp have any admin credentials ?

[2016-04-27 10:55] vitorfs commented on #41
No
When I first built bootcamp it was meant to be used inside our company infra, with a limited number of users (say 20), which was at the time the size of our development team
So, for that purpose we didn't really needed any admin management
But Django admin can be easily added to the project

[2016-04-27 10:55] #37 closed

[2016-05-12 15:16] teury opened #42 "ERROR, BUG, ANYONE CAN EDIT ARTICLES OF OTHER PEOPLE,"
http://trybootcamp.vitorfs.com/articles/edit/527/

http://trybootcamp.vitorfs.com/articles/edit/#ID/

THIS ERROR MAY BE ALLOWED TO EDIT ITEMS OF OTHER PEOPLE.

[2016-05-12 18:24] #41 closed

[2016-05-12 18:24] #40 closed

[2016-05-24 13:15] #42 closed

[2016-05-25 03:13] lydemo commented on #8
I do create a configured env. file at root file and run python manage.py syncdb,but still appear the error:
decouple.UndefinedValueError: SECRET_KEY option not found and default value was not defined. I can't
figure out why...

[2016-05-25 04:36] vitorfs commented on #8
@lydemo what operating system are you using? OS X, Linux, Windows...?
Is the file named `env` or `.env`? (note the dot in the beginning)
Do you have a `SECRET_KEY` property defined in the `.env` file?

[2016-05-25 06:24] lydemo commented on #8
@vitorfs Yeah I did...I just learn django, and I also suspect there is something wrong with the secret key, I used the generator to generate one, a 50-bit one, is it right?

[2016-05-25 06:26] lydemo commented on #8
@vitorfs I installed it on win7 or win10, the same error appeared...

[2016-05-25 07:29] vitorfs commented on #8
Since you are using Windows, instead of using a `.env` file you should use `settings.ini`
You can read more in the official documentation of `python-decouple` for instructions about Windows setup:

https://pypi.python.org/pypi/python-decouple

I have also wrote an article about the `python-decouple` package, it might also be useful:

http://simpleisbetterthancomplex.com/2015/11/26/package-of-the-w

[2016-05-25 09:09] lydemo commented on #8
@vitorfs  Well, it works...but transferred to database configuration error...I will get across it, and thank you for reminding me of that

[2016-05-25 15:10] lydemo commented on #8
@vitorfs Hey buddie I will bother you again...I set the DATABASE_URL just like 'mysql://root:1234@localhost:3306/ly/db.opt', then run the python manage.py syncdb, then appear a new error: ImproperlyConfigured: settings.DATABASE is improperly configured. I wonder whether I leave something important, such as configurations in setting.py of bootcamp. Is it right?

[2016-05-25 16:08] vitorfs commented on #8
The configuration string is incorrect, the `dj_database_url` expects the MySQL connection string in the following format:

    mysql://USER:PASSWORD@HOST:PORT/NAME

So, in this case you should put it this way:

    DATABASE_URL=mysql://root:1234@localhost:3306

https://github.com/kennethreitz/dj-database-url

[2016-05-30 13:38] sebastian-code opened #47 "Change the asynchronous implementation"
Right now the platform uses a loop to monitor changes on activities and notifications, on Django 1.9 you have django channels, created to implement in a better way asynchronous communications.

[2016-05-30 13:41] sebastian-code opened #48 "Consider to implement coverage"
Out there are lots of web services aimed to help on a development process under a Continuous Integration methodology; the project already has Travis-CI, but it can implement Coverage and Coveralls to keep track on the test coverage of the code.

[2016-05-30 13:42] sebastian-code opened #49 "Consider migrating to Python 3"
Well, I think this is already self explanatory.

[2016-05-30 13:45] sebastian-code opened #50 "Implementing CBV"
This would require a huge amount of work to refactor the code at this level, given the fact than all the views works already smoothly. But this should reduce the amount of actual code and would implement more actual and desirable practices on the project development.

[2016-05-30 13:56] sebastian-code opened #51 "Incorporate Docker on the development flow"
Is a good practice to develop on the same database engine than you wish to deploy on production, for that and to avoid unnecessary software on your own PC, container technology like the ones of Docker would help a lot on the development process, and on the validation of the choiced technologies.

[2016-05-30 13:57] sebastian-code opened #52 "Incorporate Vagrant on the development flow"
Is a good practice to develop on the same database engine than you wish to deploy on production, for that and to avoid unnecessary software on your own PC, virtualized machines like the ones from Vagrant would help a lot on the development process, and on the validation of the choiced technologies.

[2016-05-30 14:02] sebastian-code commented on #32
On this, I would suggest an improvement on the user management implementation going for django-allauth, which implements all those functionalities.

[2016-05-30 14:04] sebastian-code opened #53 "Implement a better user management"
The package django-allauth is one of the best for user management out there, which would help a lot the development of the this platform.

[2016-05-30 14:07] sebastian-code opened #54 "Implement a better taggin management"
The package django-taggit is considered as the default go-to solution to manage the tagging functionality on projects, avoiding the hassle and technical difficulties involved in maintaining your own code of this type, and also improving the implementation.

[2016-05-30 14:17] sebastian-code opened #55 "Migrate to a more 12-Factor style on the code"
The Twelve-Factor App methodology is a good declaration about how good code should be made, implementing good practices on software development, continuous integration, DevOps, security and others.

[2016-06-17 10:06] Cgruppo opened #59 "about .env config file ?"
DEBUG=True
SECRET_KEY='mys3cr3tk3y'
DATABASE_URL='postgres://u_bootcamp:p4ssw0rd@localhost:5432/bootcamp'

localhost database 👍
postgres://u_bootcamp:p4ssw0rd@localhost:5432/bootcamp'
u_bootcamp:p4ssw0rd  mean database:passwd

[2016-06-17 10:41] vitorfs commented on #59
it means: database_user:password@server_url_or_ip:port_number/database_name

[2016-08-28 18:55] hundhest opened #60 "FILE_UPLOAD_PERMISSIONS = 0644 invalid token"
Anyone else encountering this?

[2016-08-31 04:21] sebastian-code commented on #60
Perhaps is because the Python version you're implementing on. If you're going with Python3, you need to provide the token on octals format. That way your variable would look like this: `FILE_UPLOAD_PERMISSIONS = 0o644`.

[2016-09-01 11:21] hundhest commented on #60
Thanks, that seemed to work. Although now i get the unicode error.. I will try to figure this out. Thanks

[2016-09-02 04:32] sebastian-code commented on #60
Try going without the #shebang on the python file.

[2016-10-01 19:58] vishmit opened #61 "database issue"
I am very new to the django framework so don't have much idea about it. Can you guide me how to install this project. On executing manage.py migrate i am getting this error : FATAL:  password authentication failed for user "u_bootcamp".

[2016-10-03 22:12] elbaloo commented on #61
Are you following https://github.com/vitorfs/bootcamp/wiki/Installing-and-Running-Bootcamp?

[2016-10-04 07:38] vishmit commented on #61
yeah i followed the steps but i am not able to install psycopg2==2.6.1.

getting this error:

Downloading/unpacking psycopg2
  Running setup.py egg_info for package psycopg2

    Error: pg_config executable not found.

    Please add the directory containing pg_config to the PATH
    or specify the full executable path with the option:

        python setup.py build_ext --pg-config /path/to/pg_con

[2016-10-04 14:22] sebastian-code commented on #61
Hi @vishmit your issue is related to your PostgreSQL engine, psycopg2 is the Python connector for Postgres, that error means the installation process is not able to find your Postgres installation, meaning than probably you have not installed Postgres, or is not properly installed.

That said, if you're not going to work with Postgres but with SQLite instead, then you can ignore safely that packag

[2016-10-30 15:43] MattRijk opened #63 "Testing apps"
Do you want tests written on apps?

[2016-11-19 10:21] danielMicallef opened #64 "Migrating to Python 3"
Will this project be migrated to Python 3?

[2016-11-19 16:07] vitorfs commented on #64
Yep
Very soon!

[2016-11-26 12:43] sebastian-code commented on #64
This has been already done @vitorfs I suggest to close it.

[2016-11-26 12:45] sebastian-code commented on #63
Hi @MattRijk I think than the answer is "obviously", I'm not good with tests, but I will try my best, why don't you suggest a few PR with additional tests?

[2016-11-26 12:47] sebastian-code commented on #61
@vishmit did you solved this? do you need additional help? if this is already solved, do you mind to close it?

[2016-11-26 12:48] sebastian-code commented on #60
Hi @vitorfs, as other issues I think this one is already solved, i would suggest to close it.

[2016-11-26 12:48] sebastian-code commented on #59
To clean things up @vitorfs do you mind to close this issue already solved?

[2016-11-26 12:51] sebastian-code commented on #49
Solved with #57

[2016-11-26 12:51] #49 closed

[2016-11-26 13:44] sebastian-code opened #66 "Further improvement"
Following the suggestions by @vitorfs and questions by @dwayne on #57 I wanted to set a list of potential improvements:

- [x] Migrate to Python 3.
- [x] Keep backwards compatibility with Python 2.
- [x] Add coverage (suggested on my most recent PR #65 as suggested in #48).
- [x] Add coveralls badge.
- [x] Add requirements monitoring (requires.io is the one I have in mind).
- [x] Add requires.io b

[2016-11-26 16:23] sebastian-code commented on #66
I'm honored @vitorfs for the invitation to collaborate.

[2016-11-26 18:09] sebastian-code commented on #48
Done on #65

[2016-11-26 18:09] #48 closed

[2016-11-26 19:11] sebastian-code commented on #64
Done with #57 closing.

[2016-11-26 19:11] #64 closed

[2016-11-26 19:12] sebastian-code commented on #61
Closing if there is no need for further information.

[2016-11-26 19:12] #61 closed

[2016-11-26 19:12] sebastian-code commented on #60
Closing

[2016-11-26 19:12] #60 closed

[2016-11-26 19:13] sebastian-code commented on #59
Closing.

[2016-11-26 19:13] #59 closed

[2016-12-05 03:25] sebastian-code commented on #66
Hi @vitorfs I was trying to add requires.io to keep track of the requirements of the project. I'm not allowed to do it, but I would guess you can, so here is where we should think if that is a nice feature and useful somehow.

I would think than now I'm having a change of heart just because of frustration because I wasn't able to do it, but I would love to hear your opinion.

[2016-12-05 08:26] vitorfs commented on #66
hey @sebastian-code! I really appreciate all the effort and your contributions to the project! :-)
I've added the requires.io badge in the README.md
We have some outdated requirements, but from what I've seen they are all easy to upgrate

[2016-12-07 01:34] sebastian-code commented on #66
Hi @vitorfs and thanks for your compliments; it's my pleasure. I have been going around a little bit, but the requirements are already met, right now I finished implementing the Flake8 error report, is already in my development branch and I'm validating than everything works, which is how it looks as far as I can see.

[2016-12-07 16:49] sebastian-code commented on #66
Updating after running Flake8 and applying the suggested changes. Do you mind to test it a little bit to see how it went?

[2016-12-07 17:14] sebastian-code commented on #66
Ufff, docker implemented. I was believing it wasn't going to work. Silly me.

[2016-12-07 17:16] sebastian-code commented on #51
Closing, solved on 00e1c00bae443e85e816549ce0bdf37061215385 as requested too on #66

[2016-12-07 17:16] #51 closed

[2016-12-07 17:17] sebastian-code commented on #54
I'm closing this one because actually the functionality works pretty well, and unless there is a real need to use tagging, for now the project don't need it.

[2016-12-07 17:17] #54 closed

[2016-12-08 14:13] sebastian-code commented on #53
Looking through previews issues, I found than #32 would be solved if there is an implementation to attend this one. I think it is worth the shot at least to analyze it.

[2016-12-13 06:45] bradlishman opened #68 "Add functionality to edit articles once published"
It would be good to be able to edit published articles as well as drafts.

[2016-12-14 18:35] sidharthshah opened #69 "Add functionality to Upvote & Downvote Questions"
Right now we do have functionality to up-vote or down-vote Answers in Q&A section. Do you think it would be a good idea to allow users to vote on Questions as well?

I can take a lead on this feature request if we agree that its worthy to implement this feature.

[2016-12-18 14:41] sebastian-code commented on #2
This is part of a wider set of functionalities, so I'm closing it now than it has been added to the main set of task on #66

[2016-12-18 14:41] #2 closed

[2016-12-18 14:44] sebastian-code commented on #19
This issue is too old now, closing it and adding it to #66

[2016-12-18 14:44] #19 closed

[2016-12-18 14:46] sebastian-code commented on #27
This is again mentioned on #68. Closing it to keep the issues list clean.

[2016-12-18 14:46] #27 closed

[2016-12-18 14:48] sebastian-code commented on #28
This one is part of the core task on #66 to improve user management. Closing it to keep the issue list clean.

[2016-12-18 14:48] #28 closed

[2016-12-18 14:49] sebastian-code commented on #29
We'll have to check this out to validate how it's working

[2016-12-18 14:50] sebastian-code commented on #31
This is something of the likes of django-tennants?

[2016-12-18 14:53] sebastian-code commented on #32
Closing it. This issue has been referenced in other issues, also this requirement is part of a broader functionality also mentioned on #53 and #66.

[2016-12-18 14:53] #32 closed

[2016-12-18 14:55] sebastian-code commented on #53
As referenced in other issues, this one can solve a lot of additional issues so is safe to close it to keep the issues list clean.

[2016-12-18 14:55] #53 closed

[2017-01-06 02:52] sebastian-code commented on #69
Hi @sidharthshah I think it does. There is always value into giving wider reach to a good question. We certainly will appreciate a lot your help if you're interested.

[2017-01-09 10:29] anweshknayak commented on #50
anyone working on this ?

[2017-01-09 12:16] sebastian-code commented on #50
Hi @anweshknayak Not right now. Are you interested into working on this?

[2017-01-09 13:25] anweshknayak commented on #50
@sebastian-code Yes I am. Let me setup this project. I will ask you upon any query

[2017-01-09 13:43] sebastian-code commented on #50
Ok @anweshknayak , I would try my best to help.

[2017-01-13 13:38] isht3 opened #71 "Getting decouple error while starting up site"
When I try to run the site I get a
`decouple.UndefinedValueError: ALLOWED_HOSTS option not found and default value was not defined.`

I can't seem to figure out where I'm going wrong. Any thoughts?

full error:
[code]

[2017-01-13 18:00] #71 closed

[2017-01-13 18:01] isht3 commented on #71
Seems like the python-mysql client was not working properly with Python-3, I fixed it by changing into mysql.

[2017-01-14 07:10] anweshknayak commented on #50
@sebastian-code shall I make a different PR for each app ?

[2017-01-14 12:10] sebastian-code commented on #50
Hi @anweshknayak I would think is the best approach.

[2017-01-15 17:57] anweshknayak opened #72 "Improve UI/UX"
Shift to Angular JS or some other JS framework!

[2017-01-16 06:44] anweshknayak commented on #50
@sebastian-code can you give some hint on what kind of view to use ? ( https://ccbv.co.uk/) I think we can use TemplateView or ListView ?

[2017-01-17 02:59] sebastian-code commented on #50
Hi @anweshknayak that would be a list of objects (notifications) so the right approach would be to inherit from ListView, also, don't forget to inherit from the native LogginRequired mixin into the view.

[2017-01-17 03:04] sebastian-code commented on #72
Well, that depends, why are you considering something like that? Right now there is room for improvement, but still is fine. How do you think than it would be better.

What I'm trying to say is: yes, I do agree but I would like to have a better and deeper conversation about it before thinking into changing the UI, and even more about the UX.

[2017-01-17 19:25] sidharthshah commented on #69
@sebastian-code let me work on this I will submit a PR once I am ready

[2017-01-18 02:28] sebastian-code commented on #69
Thanks a lot @sidharthshah

[2017-01-31 10:29] unsystemizer opened #73 "tags: strip or replace unsupported delimiters"
If I create tags like `a, b, c`, I'll mess up `a` and `b` because they'll have the comma attached to them.

If somebody uses an unsupported delimiter, it could be automatically replaced by the space character.
In that case ` ` and `,` and `;` could all be accepted and that could be indicated in the hint above the tags form field.

[2017-01-31 10:35] unsystemizer opened #74 "tags not searchable"
I just tried the demo and couldn't find my question by the tag.

Maybe that's by design (I noticed there's a tag cloud on the right hand side), but that still makes it hard to find a question or article that uses a popular tag and has some fairly unique word in the body.

For example if I want to find a `python`-tagged question that mentions JavaScript, I'd like to be able to find it by searching

[2017-01-31 10:39] unsystemizer opened #75 "Allow markdown in comments/answers"
Some answers may benefit (readability, etc.) from the ability to use enhanced formatting.

At the moment it doesn't seem possible to use markdown in answers and even `\n` is stripped from them, which makes it hard to write complex answers that are easy to read. For example a script or code section in the answer would be very hard to read.

[2017-02-02 02:01] sebastian-code commented on #75
I wasn't aware of that, thanks @unsystemizer for pointing that out. Let me check well and then we'll what we can do about it.

[2017-02-02 02:06] sebastian-code commented on #74
Thanks @unsystemizer. Actually I have been thinking about changing the implementation of tags, and perhaps to use Taggit instead. This obviously will fix #73 too. Let work it a little bit more, or, if you have suggestions or perhaps if you submit a PR for this, it will be most appreciated.

[2017-02-02 02:08] sebastian-code commented on #73
Thanks @unsystemizer. As I said in my comment on #74 Actually I have been thinking about it, thinking to use Taggit instead. This obviously will fix #74  too. Let work it a little bit more, or, if you have suggestions or perhaps if you submit a PR for this, it will be most appreciated.

[2017-02-02 02:15] unsystemizer commented on #74
Thanks. I would submit a PR if I could but I'm not at that level yet :-)

[2017-02-05 10:30] SaurabhMishra4894 commented on #8
it can be a text file..? bcoz the file is asking for a name . Its not accepting just .env

[2017-02-21 09:40] muhiza opened #76 "Admin is not found."
Why admin side is not there?

[2017-02-21 19:30] sebastian-code commented on #76
Hi @muhiza It's the design choice made at the beginning of the project, plus, at the level the project is now, it doesn't require the admin interface mainly because it doesn't provide any functionality to the software... and there is also than there is no admin implementation neither.

[2017-02-21 19:30] #76 closed

[2017-02-22 06:18] muhiza commented on #76
It's would be better if there were at least a way the user (admin) can
manage all of those stuffs which are done by the other users.

On Tue, Feb 21, 2017 at 9:30 PM, Sebastian Reyes Espinosa <
notifications@github.com> wrote:

[2017-03-03 20:44] tamirOK commented on #50
Is anybody working on this?

[2017-03-08 17:57] dparizek opened #77 "disk full, cannot register on demo app"
I visit http://trybootcamp.vitorfs.com/ and try to register.  I get error that indicates out of space.

[2017-03-09 07:44] Javvadhi commented on #8
HI iam getting the below  error
decouple.UndefinedValueError: ALLOWED_HOSTS option not found and default value was not defined.

[2017-03-09 13:18] sebastian-code commented on #77
I think than @vitorfs is able to work something around this. Perhaps to add some kind of backend than drops the database regularly?

[2017-03-09 13:28] vitorfs commented on #77
Aw, I didn't see that one coming
I will free some space there

[2017-03-10 16:47] tamirOK commented on #50
@sebastian-code, do you want every view to be rewritten as cbv?

[2017-03-10 16:55] sebastian-code commented on #50
Well, not necessarily @tamirOK CBV are mainly aimed to reduce verbosity and to avoid cases of _DRY_, so I imagine than in some cases it makes more sense to have a functional view, and that requires to apply logic to avoid unnecessary work. I would say than I leave it to you were do you want to give something to the project.

Any help is appreciated.

But don't forget to add test, one of the goals

[2017-03-10 21:56] vitorfs commented on #77
we are back online! sorry for the delay

[2017-03-10 21:56] #77 closed

[2017-03-11 12:14] OLDFE opened #78 "when run 'python manage.py migrate',show 'if engine is none else engine'"
Traceback (most recent call last):
  File "D:/Document/VirtualWS/bootcamp-master/manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "D:\PengFan\virtualEnv\lib\site-packages\django\core\management\__init__.py", line 367, in execute_from_command_line
    utility.execute()
  File "D:\PengFan\virtualEnv\lib\site-packages\django\core\management\__init__.py", line 316, in ex

[2017-03-13 17:37] JeeveshN commented on #78
@OLDFE in settings.py make these changes and make sure that your .env file is in the folder named 'bootcamp' which is a subfolder not the main one.
[code]

[2017-03-13 17:43] JeeveshN opened #79 "ALLOWED_HOST variable should be optional"
I think the ALLOWED_HOST variable should be optional and should be in a try and except.

[2017-03-14 04:15] sebastian-code commented on #79
Hi @JeeveshN it's an interesting idea, but why would you want to do that? Do you mind to walk us through your thinking process about your idea?

[2017-03-14 06:35] JeeveshN commented on #79
@sebastian-code In my case it worked only after I put it inside a try and except.
Found the problem my default ALLOWED_HOST was not set that's why i was getting this error.In those cases in development environment i guess a try and catch would help.

[2017-03-14 14:41] #78 closed

[2017-03-14 14:45] sebastian-code commented on #79
As I suggested in #78 Your issue in your development environment is than you did not declare the `ALLOWED_HOSTS` variable inside your .env file, and adding a try statement without a proper solution would hide/hinder your project execution and obviously adds unnecessary code.

That's why we didn't added in the first that kind of things to the code.

[2017-03-14 14:45] #79 closed

[2017-03-23 10:55] swiftgarg opened #80 "Password Showing incorrect"
conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
django.db.utils.OperationalError: FATAL:  password authentication failed for user "u_bootcamp"
FATAL:  password authentication failed for user "u_bootcamp"

[2017-03-23 13:16] sebastian-code commented on #80
Hi @swiftgarg Your error indicates than your password is wrong. Did you followed the wiki instructions? Can you provide more information about your database setup and connection configuration?

About the wiki instructions, you can find additional information [here in this link](https://github.com/vitorfs/bootcamp/wiki/Installing-and-Running-Bootcamp)

[2017-03-23 14:08] Agricultures opened #81 "Comment articles"
When someone write an article, he can easily comment it with writing a comment and pressing Ctrl+Enter. The first comment is publish without problem. To publish a second one, there is a problem : when the user press Crtl+Enter, nothing appends on the web page (but the comment is save in the database). To see the comment in the comment list, the user have to reload manually the web page.

I'm a beg

[2017-03-23 14:27] sebastian-code commented on #81
Hi, about the sharing part, if you're talking about including it into the project, the best way to do it is proposing a pull request to the project with your changes and additions. If you want to gain a better understanding of how GitHub works, I suggest to you going into the site [documentatio](https://help.github.com/) were you can find a wide array of useful information.

[2017-03-23 14:51] Agricultures commented on #81
Thanks, I'll do it

[2017-03-24 11:09] Agricultures commented on #81
I check for the bug on Comment Articles. There is the bug in the version shared on the project and installed in localhost on my laptop, but not in the on line version of victorfs. The problem comes from the code or my configuration ? Thanks

[2017-03-26 03:25] sebastian-code commented on #81
Hi @Agricultures is actually a weird problem you're talking about, let me test it by myself, meanwhile why don't you check than the proper bootstraps libraries are being loaded?

[2017-03-27 10:08] Agricultures commented on #81
I don't know how to check if the proper bootstraps libraries are being loaded. The web page on my lap top is the same as the on line web page, so I think that there is no problem with the loading of the bootstrap libraries.

[2017-03-30 05:34] geandersonlenz commented on #71
I have the same error in python 3, I have fixed with .env but didn't work. Could you solve this issue?

[2017-03-31 15:11] sebastian-code commented on #71
Hi @geandersonlenz If you are having issues with the `ALLOWED_HOST` variable, then the thing you have to do is to declare it. But to be more helpful, do you mind to share the _traceback_ of your error?

[2017-03-31 15:12] sebastian-code commented on #80
Closing this.

[2017-03-31 15:12] #80 closed

[2017-04-05 17:54] khizirsiddiqui opened #83 "Reverse for 'profile' with arguments not found."
I am a beginner and I have copied the messenger to my site and changed the things required like bootcamp.messenger to messenger and other things as per my project.
I can open /new but when I open messages for individual user or the base page it shows this error:
`Reverse for 'profile' with arguments '('abc',)' and keyword arguments '{}' not found. 0 pattern(s) tried: []`

I am using Django 1.10 Py

[2017-04-05 20:52] sebastian-code commented on #83
Hi @KatherineMichel the main issue with your request is than this project is not designed to be easily broken, and obviously is out of the scope of this project.

The only thing I can say reading the message you're sharing is than your URL is returning empty, because the workflow is not properly implemented, it's calling the user app from this project.

[2017-04-05 20:52] #83 closed

[2017-05-09 20:53] teury commented on #72
I think you can change the design. But you can not overload too much, so that the themes can be easily modified by each user, in their different projects.

[2017-05-13 16:17] sebastian-code commented on #75
This was solved with #84. Closing it now.

[2017-05-13 16:17] #75 closed

[2017-05-13 16:26] sebastian-code commented on #63
Closing now than is been included and properly referenced in #66.

[2017-05-13 16:26] #63 closed

[2017-05-13 16:37] sebastian-code commented on #55
Closing because is already added in #66.

[2017-05-13 16:37] #55 closed

[2017-05-13 16:38] sebastian-code commented on #30
Closing because is already solved, the wiki needs improvement, thats another process.

[2017-05-13 16:38] #30 closed

[2017-05-13 16:41] sebastian-code commented on #50
Closing this issue because is to wide and unspecific, which makes it unhelpful. And because is a goal already included in #66 so we can keep up with it there.

[2017-05-13 16:41] #50 closed

[2017-05-22 07:39] richardsonsamuel opened #85 "What is this error when I try create a new account??"
[code]

[2017-05-22 14:28] sebastian-code commented on #85
Hi @richardsonsamuel it looks like you haven't applied the migrations. Con you confirm on that?

[2017-05-22 23:04] richardsonsamuel commented on #85
@sebastian-code Hi, These are the commands I executed on the docker container to migrate the DB, but still getting same error.

[code]

[2017-05-22 23:35] richardsonsamuel commented on #85
Actually correction the issue seems to be once I've applied the migrations and try to start up the containers...

[code]

[2017-05-23 01:26] sebastian-code commented on #85
Hi @richardsonsamuel checking the logs, I have three questions:

1. With what porpoise are you currently trying to launch the project? To test it in a more development/testing oriented environment o directly aimed to deploy it into a production scenario?
2. Have you configured your docker-compose environment variables?
3. Did you configured your `.env` file with the _PostgreSQL_ address properly c

[2017-06-06 12:07] SriNandan33 opened #86 "Include "Password Reset Feature""

[2017-06-07 05:38] #85 closed

[2017-06-07 13:07] richardsonsamuel opened #87 "How to introduce other post types"
Hi @vitorfs or @sebastian-code

Just wondering what the best way to implement other post types such as attaching image or video, or sharing links (like how its done in Facebook),etc.

Even if you guys don't want to implement it, I'm doing the coding for my own forked project and was wondering the best way to go about this.

Thanks in advance.

[2017-06-07 14:10] sebastian-code commented on #87
Hi @richardsonsamuel, to be honest, I haven't tried something like that, the feature you're looking for was out of the original scope; that functionality is actually useful in just a few scenarios, but is pretty doable.

What I would suggest is than you require to tweak a little bit the model to allow the new content you want to add, but you have to modify a lot the UI, because there is where the

[2017-06-07 14:12] sebastian-code commented on #86
Hi @SriNandan33, can you elaborate a little bit more about your request? There is already the chance than the user changes it's password, and if you install the admin panel, a superuser can use it to help with that.

[2017-06-07 14:38] richardsonsamuel commented on #87
Thanks this helps quite a bit. Closing the issue as all I needed was a bit of direction. Thanks again!

[2017-06-07 14:38] #87 closed

[2017-06-10 08:59] vijubontha commented on #86
If the user forgets the password, there is no password reset option on the login page. How can they reset the password.

[2017-06-10 09:01] vijubontha commented on #86
If the user forgets the password. There is no password reset option on the login page. How can they reset the password?

[2017-06-21 12:54] 1500256797 commented on #78
`D:\blog>python manage.py syncdb
Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "C:\Users\Administrator\AppData\Local\Programs\Python\Python35\lib\site-packages\django\core\management\__init__.py", line 363, in execute_from_command_line
    utility.execute()
  File "C:\Users\Administrator\AppData\Local\Programs\Python\Pyth

[2017-06-22 04:07] 1500256797 opened #89 "engine = SCHEMES[url.scheme] if engine is None else engine KeyError: ''"
@rmasoni @shabinesh @lomatus @fabianogoes @vitorfs

i dont know how to deal with it. i search everywhere,but cant help.can you help me ?  thank you very much.

**This is my .env . file **
`DEBUG=True
SECRET_KEY='ADD_HERE_UR_SECRET_KEY'
DATABASE_URL='sqlite：////Users/vitorfs/Development/bootcamp/db.sqlite3'
ALLOWED_HOSTS = *`

[2017-06-22 07:41] pushkar-12 opened #90 "Add functionality to delete messages sent in Messenger app, both 'delete your copy' and 'delete both copies'"

[2017-06-22 14:35] sebastian-code commented on #89
Hi @1500256797.

What I see is than you are declaring in a wrong way your database URL, apparently you used the `.env` file added as example, but you didn't update the address properly.

For that I would suggest a small reading of things like [this one](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier) where you can check how the syntax for URi declaration works.

[2017-06-22 14:35] #89 closed

[2017-06-24 02:46] Logmytech opened #91 "What is the default admin account and password?"
I am using SQLITE back end and ran `manage.py migrate` but I was not prompted to create an admin account.

What are the default credentials for the admin account?

If there aren't defaults how do I create an admin account?

[2017-06-24 12:56] sebastian-code commented on #91
You have to create a superuser account from console, for that you use the command `python manage.py createsuperuser`.

[2017-06-24 12:56] #91 closed

[2017-06-25 08:11] 1500256797 commented on #89
thanks a lot! it works.

[2017-06-28 12:09] sebastian-code commented on #72
Is this still open for discussion? I'm closing this one until there is further though on it.

[2017-06-28 12:09] #72 closed

[2017-07-01 10:03] Humoyun opened #92 "restrict image size"
I saw several very large images in the site, which is not fit on the screen and looks distracting

[2017-07-01 20:46] sebastian-code opened #93 "Article app is broken"
I'm not aware at which point the Article app got broken, and started to throw an error on the creation process `django.db.utils.IntegrityError: UNIQUE constraint failed: articles_article.id`.

[2017-07-01 20:47] sebastian-code commented on #93
Apparently is related to the way the save method is implemented.

[2017-07-02 03:01] sebastian-code commented on #93
Already solved, working on a more elaborated and definitive solution. Closing now than the next step is to merge to master.

[2017-07-02 03:01] #93 closed

[2017-07-02 03:03] sebastian-code commented on #90
Could you provide more information and a better insight into this request? Is not clear to me what is the purpose or the goal, and also how is the user case.

[2017-07-02 03:07] sebastian-code commented on #86
If I understood correctly, what you're suggesting is to allow a _"I forgot my password"_ functionality? The original intent of this project was something of the kind of "intranet" software, so you will always have a System Administrator, who will be able to help at request.

But there is room for that improvement, @SriNandan33, do you want to submit your own PR?

[2017-07-02 03:14] sebastian-code commented on #81
Is there any new development on this? Closing it until further information is discovered.

[2017-07-02 03:14] #81 closed

[2017-07-03 20:05] sebastian-code commented on #92
Hi @Humoyun do you mind to provide more information on this? Knowing more about the issue would be helpful to identify what are you talking about.

On the plus size, you are always welcome to provide a PR to help with the problem.

[2017-07-03 20:13] sebastian-code commented on #21
This is too old, closing it and including it into #66 to keep it somewhere.

[2017-07-03 20:13] #21 closed

[2017-07-03 20:15] sebastian-code commented on #29
Closing this issue because is too old, adding it to #66 to keep track of it.

[2017-07-03 20:15] #29 closed

[2017-07-03 20:18] sebastian-code commented on #31
Closing it because is too old, and perhaps it is already solved but never referenced. Still keeping track of it in #66.

[2017-07-03 20:18] #31 closed

[2017-07-03 20:21] sebastian-code commented on #68
Checking the code, the main functionality is already in place, there is only the need to add the proper links into each of the pages.

[2017-07-03 21:01] sebastian-code commented on #68
Solved with c2bad6d964dffa91652cd6a004f900105170f78a

[2017-07-03 21:01] #68 closed

[2017-07-05 03:28] sebastian-code commented on #52
This one did not received enough interest, and I focused myself more on Docker, so closing it for good.

[2017-07-05 03:28] #52 closed

[2017-07-05 03:33] sebastian-code opened #94 "A profile dashboard"
I actually would like the insight from @vitorfs on this. The main idea is to replace the actual profile page, which shows a list of the latests _Feeds_ from the user, and to provide a more informative dashboard, with statistics from the user, using graphs based on the library Chart.js.

[2017-07-08 12:51] sebastian-code commented on #90
Closing it until further information is provided.

[2017-07-08 12:51] #90 closed

[2017-07-09 13:15] lex-quarkie commented on #92
http://trybootcamp.vitorfs.com/articles/1053-1000x1000-image-is-not-fit-article-preview-window/

Preview with big image looks awful
![preview](https://user-images.githubusercontent.com/4361817/27994210-864cb0a4-64c1-11e7-8d31-d4f41fed9812.png)

If article has big image - Popular tags is stacking over article image,
![tags](https://user-images.githubusercontent.com/4361817/27994226-ce6c363e-64c1-11

[2017-07-09 13:27] lex-quarkie commented on #92
Actually long text also doesn't fit preview window
![text](https://user-images.githubusercontent.com/4361817/27994288-5e487492-64c3-11e7-9765-abb937b30e50.png)

[2017-07-09 17:00] sebastian-code commented on #94
Closing now than the code is into develop branch. Waiting to release to master branch.

[2017-07-09 17:00] #94 closed

[2017-07-10 01:39] sebastian-code commented on #86
Closing this one until further information is provided.

[2017-07-10 01:39] #86 closed

[2017-07-12 15:55] sebastian-code commented on #92
Hi @lex-quarkie @Humoyun I wanted to check something before, do this issue happens just inside the _articles_ app? or does this also happens with other apps?

[2017-07-19 18:01] atraining opened #95 "Search for articles with status=DRAFT points to published url"
I usee the searchbox on the `home` url to find a article which has been saved as draft. I found the article, however when I click on it the url points to `articles/<title>/` and not to `articles/edit/2/` as drafts are not available via public url where only login is required.

![image](https://user-images.githubusercontent.com/2879188/28381869-830b4876-6cbc-11e7-80b6-69e726524f39.png)

[2017-07-19 22:38] sebastian-code commented on #92
@lex-quarkie @Humoyun Checking this issue, I notice than it happens at markdown creation time. The way it's rendered now makes it a little difficult to filter, even more so to control the outcome, I'll be checking the markdown library implementation to improve the rendering.

[2017-07-20 18:07] SeekAndPwn opened #96 "Crash - "Exception Value: need more than 0 values to unpack""
The app seems to crash when set up from scratch with 2 users.
When you go to a profile to one of them (url: http://localhost:8000/testusr/)
you get this nasty crash:

[code]

Any ideas?

The bug seems to be in this part of code:
[code]

It's weird because the other user's profile I created is fine. You can browse it under the profile url without a crash.

Thanks. It's a nice app btw!

BTW. Is this

[2017-07-20 20:22] sebastian-code commented on #96
Hi @SeekAndPwn I haven't been able to reproduce the error you report. I created different amounts of users, superusers from console and registered ones. Up to now it works without an issue. Can you provide to me additional information about your setup and how to reproduce the error?

[2017-07-20 20:28] sebastian-code commented on #96
Hi @SeekAndPwn, just when I wrote the previous message, I checked with a different approach, the issue is because the user has no interactions in the portal, so the view crash when it receives a Null value.

I'll work in a solution.

[2017-07-20 20:31] sebastian-code commented on #96
@SeekAndPwn I also forgo to answer your question about the quality of the software; its license allows you to check it yourself. I'm pretty confident on the robustness and quality of the software, but I'm also aware than it still has some rough edges. Give it a try if you wish.

[2017-07-20 22:45] SeekAndPwn commented on #96
Thanks  for that. I will try to solve this issue too.

[2017-07-21 00:51] SeekAndPwn opened #97 "Another crash - on non existent user"
When you go to URL like this:

http://localhost:8000/j/

where J username is not valid/does not exist. The app doesnt handle it gracefully. It crashes with:

Request Method: | GET
-- | --
http://localhost:8000/j/
1.11.3
DoesNotExist
User matching query does not exist.
/usr/local/lib/python2.7/dist-packages/django/db/models/query.py in get, line 380
/usr/bin/python
2.7.12

[2017-07-21 13:38] sebastian-code commented on #96
Solved.

[2017-07-21 13:38] #96 closed

[2017-07-21 13:49] sebastian-code commented on #97
Solved.

[2017-07-21 13:49] #97 closed

[2017-07-21 13:56] SeekAndPwn opened #98 "monthly_activity method has the same issue as daily_activities"
hey

you may want to  merge my patch or yours to the other function monthly_activity

My fix was:

[code]

thanks

[2017-07-21 21:12] SeekAndPwn opened #99 "Lack of validation on input from user (GET/POST)"
It seems like the application does not validate user provided parameters which results in further crashes.

For example, injecting letter ('f') within last_feed GET parameter:

[code]

will result in:
[code]
in this case the problem is the check method of feeds views:

[code]

Here is my patch in case it helps:

[code]

I'm catching ValueError.

Nevertheless there are several other methods that ha

[2017-07-23 12:11] sebastian-code commented on #99
Hi @SeekAndPwn, thanks for noticing this, to be truthful about your suggestion, I don't know, but I also don't see the need to implement Django ModelForms because the injection is happening on the URL, perhaps it should throw 404 error.

[2017-07-23 12:36] sebastian-code commented on #95
Hi @atraining I looked into it, and your totally right. Here the thing will be about functionality and how to solve it. Initially the scope was than the search view should bring the public content, which a draft is not. So, I have to think if I want to include the drafts into the search results, or to exclude them and allow it's search just through the drafts menu inside the articles app.

Actuall

[2017-07-23 13:02] sebastian-code commented on #98
Thanks @SeekAndPwn I notice it at the same time I fixed the previous (and related issue). I left it like that by the moment, because have not implement it yet, I was more trying to decide how to do it, but you're right, I should fix it.

I remember you actually asked about why to choose an `if` block over a `try` block. For me is about method and personal style, not forgetting that Python encourag

[2017-07-23 13:02] #98 closed

[2017-07-24 06:31] atraining commented on #95
Hi @sebastian-code, thanks for your response. In fact, it's a design pattern question. Despite the fact that users might want to search for articles and do not care about the state of the article - atm I would just filter for published articles.

[code]

[2017-07-24 13:54] sebastian-code commented on #99
Hi again @SeekAndPwn taking a deeper look into it, I noticed something, and is about than this topic is closer to the core concept of error 400, so the proper conversation would be about different error codes handling and how to implement it's management inside a functional view; for the error you're highlighting we can go with perhaps a typical `Http404` error (which would be my choice), `HttpRes

[2017-07-25 11:34] SeekAndPwn commented on #99
Sorry, in my code snippet I had a typo, feed_source should not be casted into an int as it is a string (e.g. feed_source=all).

Or rather , there should an IF clause:
[code]

or we could use isdigit()

Regarding the validation. I was also thinking. Maybe it should be done at the url router level?

[code]

this way the function check() won't be called without a valid number int the last_feed.

[2017-07-26 13:30] sebastian-code commented on #74
Solve with 65aabe8e8ffa1ab4ea0ac1441db81fd9d0c4cbc1

[2017-07-26 13:30] #74 closed

[2017-07-26 13:30] sebastian-code commented on #73
Solve with 65aabe8e8ffa1ab4ea0ac1441db81fd9d0c4cbc1

[2017-07-26 13:30] #73 closed

[2017-07-26 13:30] sebastian-code commented on #95
Solved with fd66f3b2cafe44567c3efd7e8f3271fa5da0dcb9

[2017-07-26 13:30] #95 closed

[2017-08-06 14:59] sebastian-code commented on #92
Hi @lex-quarkie @Humoyun.

I have been checking in depth this topic and I found some workarounds to the requirement like [this one](https://stackoverflow.com/questions/14675913/how-to-change-image-size-markdown/21242579) but that requires to be done at the writing step by the user, and is not working properly; basically this behavior is not mentioned nor supported by the [Syntax Rules](https://dar

[2017-08-06 14:59] #92 closed

[2017-08-09 15:20] arpit1997 commented on #69
Is this issue still open for collaboration?

[2017-08-09 15:23] sebastian-code commented on #69
Hi @arpit1997, yes, it is; if you have a PR for it, please feel free to submit it.

[2017-08-09 17:30] arpit1997 commented on #69
I will have a look at it, understand the code and send a PR as soon as I completes it. I hope it does not take much time.

[2017-08-11 14:15] yashLadha commented on #47
I can work upon this @sebastian-code . Can I send a PR for it?

[2017-08-11 14:53] yashLadha commented on #47
I am also thinking of django-channels. I thought of making a signals and listener for changes in the database when data is modified into it and trigger a specific user accordingly.

[2017-08-11 15:07] yashLadha opened #101 "REST API"
We can develop a rest api for the current codebase extending it's all functionalities. So that it can be used across several platforms.

[2017-08-12 02:15] sebastian-code commented on #101
I have been thinking about this, but until now I haven't been able to find a probable use case for the project, do you mind elaborating about the idea and the use case?

[2017-08-12 02:19] sebastian-code commented on #47
Ok, are you planning to use Redis or another messaging queue?

[2017-08-12 04:52] yashLadha commented on #47
Redis or celery? I am having confusion? Can you suggest one

[2017-08-12 04:53] yashLadha commented on #101
Extending the app to mobile platform.

[2017-08-13 02:27] sebastian-code commented on #47
I apologize for creating it, the two of them cover different purposes, for django-channels would be Redis, but at the end, that doesn't matter, because it should be defined inside the `.env` file, and the code implementation is agnostic of the communication layer, so your approach is just perfect.

[2017-08-13 12:32] sebastian-code commented on #101
Interesting, let's take a look and work on it. This looks promising.

[2017-08-14 17:51] congtoanle opened #103 "Build a Single Post Page"
Anybody can build a single post page from a user like https://www.facebook.com/manchesterunited/posts/10155038617982746

[2017-08-14 20:47] sebastian-code commented on #103
Hi @congtoanle I haven't been able to understand your issue, can you elaborate on that?

[2017-08-14 22:10] sebastian-code commented on #69
Merged de6fc13

[2017-08-14 22:10] #69 closed

[2017-08-15 16:25] congtoanle commented on #103
yeah, Now we have a Feed with multi Posts, How can I have a page with just a SINGLE POSTS

[2017-08-15 16:59] sebastian-code commented on #103
If you're talking about looking to just a single post, just click on the post title.

[2017-08-20 03:56] bauripalash opened #104 "add Python 3 support"
You're only supporting Python 2 but I can't use it in Python 3. That is causing a huge problem to me.

[2017-08-20 11:56] sebastian-code commented on #104
Hi @bauripalash Can you explain this better? Right now Bootcamp is written for Python3 and has some additions to support Python 2, so I don't understand what you're talking about.

[2017-08-20 13:32] bauripalash commented on #104
It seems like, everything i heard about Bootcamp, that it's written for
Python 2 , is wrong.
I'm sorry for wasting your valuable time.
On Aug 20, 2017 5:26 PM, "Sebastian Reyes Espinosa" <
notifications@github.com> wrote:

[2017-08-20 13:46] sebastian-code commented on #104
Is never a waste of time, and is always a pleasure to be of some help; as you read in the **Technology Stack** on the README file in the main repo page, it actually runs on both.

To be truthful, originally the software was written for Python 2, but I ported the code and added the necessary code to keep the software backwards compatible. Bootcamp actually runs on Python 2 if you want to use it tha

[2017-08-20 14:17] bauripalash commented on #104
I heard in some forums ( I don't remember their names ) that BootCamp is
good way to build my own social networking sites, and it's written for only
Python 2.

Actually I am a 15 year old programmer from India and I want a build a
social platform where people can share their knowledge with world.
On Aug 20, 2017 7:16 PM, "Sebastian Reyes Espinosa" <
notifications@github.com> wrote:

Is never a was

[2017-08-20 15:43] sebastian-code commented on #104
I think is actually great what you are saying, and thank for taking the time to explain it to me. Is curious how the software has evolved.

AS you may have noticed, this software is OSS so you are free to use it, adapt it, and if if you feel like it, you also can contribute to it. It would be great if you can create a great software using it as your foundation.

[2017-08-20 15:43] #104 closed

[2017-08-20 15:46] sebastian-code commented on #103
Hey @congtoanle how this ended working for you? Do you still need help?

[2017-08-20 15:57] bauripalash commented on #104
Thank you 🙂🙂 for clearing my doubts
On Aug 20, 2017 9:13 PM, "Sebastian Reyes Espinosa" <
notifications@github.com> wrote:

[2017-08-22 05:34] congtoanle commented on #103
@sebastian-code  I mean Single Post, no Single Author Feed. It is a page with ONE FEED. Sorry if i said a mistake.

[2017-08-22 12:24] sebastian-code commented on #103
I'm sorry @congtoanle I haven't been able to understand to you. If you are talking about a page per individual post, as I said, you can achieve that selecting the article's title in the articles page. If by any means what you're talking about is a single page with infinite scroll, then no, there is no way to achieve that at this moment, because Bootcamp doesn't has that possibility.

If that last

[2017-08-22 12:36] congtoanle commented on #103
Thank you for your support Sebastian

[2017-08-22 12:37] #103 closed

[2017-08-23 14:56] sebastian-code opened #105 "Improve the messenger app"
Currently the messenger app lies deep inside Bootcamp, and that's perhaps the most attractive feature for the actual user.

It can receive a new workflow to make it more likely other well known apps without loosing the natural attractiveness of Bootcamp.

This workflow improvement its also a chance to address issues #47 and #66 adding a better asynchronous implementation, in this case, the natural

[2017-08-26 17:33] sebastian-code commented on #105
As I expressed in 8d45249, for now I applied a small tweak to the actual look, I still want to revamp the workflow, but perhaps it will make the application incompatible with previous deployments, affecting actual deployments in production.

For me the main goal of this issue is to make the app similar to new chat apps like Slack or Glip, making things like the message form box to maintain its pos

[2017-08-28 07:59] ziming2018 opened #106 "How to apply django-allauth to this project"
If inscribe

[2017-08-28 08:08] ziming2018 commented on #106
@vitorfs  @sebastian-code

[2017-08-29 16:20] arichar1990 commented on #8
@Javvadhi I am having the same issue. It says to Declare it as envvar or define a default value, but I am not sure what that means.

[2017-08-29 16:23] arichar1990 commented on #8
@Javvadhi I got past it, by adding ALLOWED_HOSTS = 'localhost' to the .env file.

[2017-08-29 16:55] sebastian-code commented on #106
Hi @ziming2018 can you elaborate on this?

[2017-09-01 00:11] ziming2018 commented on #106
@sebastian-code Has been resolved

[2017-09-01 00:11] #106 closed

[2017-09-03 21:07] SurajKamble opened #107 "Add AJAX Autocomplete Search"
The search box doesn't show suggestions for auto-completing. It can be implemented using JQuery.

[2017-09-04 03:00] zoearthmoon opened #108 "hello ! how can i use bootcamp in mysql ?"
hello ! how can i use bootcamp in mysql ?

i want to use this project in mysql database
but i dont know how to change or config it
can some one teach me ?

thanks!

https://github.com/vitorfs/bootcamp/wiki/Installing-and-Running-Bootcamp

[2017-09-04 11:23] sebastian-code commented on #108
Hi, when you set up the `.env` file, change the PostgreSQL URL configuration line for one of the likes of MySQL; you need to consider than the actual Docker configuration is not compatible with this database, you'll have to override the docker-compose setup file by yourself if you want to use it.

This line is an example line to set up the connection `mysql://USER:PASSWORD@HOST:PORT/NAME` where yo

[2017-09-04 11:23] #108 closed

[2017-09-04 11:26] sebastian-code commented on #107
Hi @SurajKamble. It sounds interesting, but I still don't see why or how it will be useful for the software, can you elaborate around this use case and the purpose of this feature and its positive impacts for the user base?

[2017-09-04 15:32] SurajKamble commented on #107
When a person is searching for a user, question or article the search bar will suggest a few search "terms" based on data in the database, similar to google search engine. This way, instead of the user typing the whole search query, they will be provided a few suggestions to select from. Let's say the user is searching for something and they type "python" in the search bar, they will be suggested

[2017-09-04 16:19] sebastian-code commented on #107
To be honest @SurajKamble I still don't see it as feature needed by the user base, but (and this is a really big but) I have by any means a real perception of actual use cases of Bootcamp in the wild. This kind of features fall really far from the original scope, but a lot of time has pass since the beginning, so perhaps there is an actual opportunity for this, where the users can benefit from it.

[2017-09-04 16:25] SurajKamble commented on #107
When you search something on Facebook, you're given a few suggestions in a drop-down, similarly, we can implement it for our site. I have added the feature to my local repo, I will add test cases and provide the PR.

[2017-09-04 16:31] sebastian-code commented on #107
Great @SurajKamble, I appreciate it. I forgot to clarify this, please submit the PR against the develop branch.

[2017-09-05 01:56] zoearthmoon opened #109 "help ! i cant load the static files ..."
when i run the first page
i found the css files is not found

i get those errors
thanks for helper !

---------------------------------------------------------------

[05/Sep/2017 09:49:46] "GET / HTTP/1.1" 200 2421
Traceback (most recent call last):
  File "D:\Python36-32\lib\site-packages\django\core\handlers\exception.py", line 41, in inner
    response = get_response(request)
  File "D:\Python

[2017-09-05 02:18] sebastian-code commented on #109
There are two possible situations here, you are deploying to production or to development (or testing); for the first one you'll need to setup the proper software (gunicorn, nginx, caddy, apache), please refer to Django documentation on that; for the second one, remember to provide the environment variable DEBUG set to True.

[2017-09-05 02:18] #109 closed

[2017-09-05 18:30] congtoanle commented on #101
I am building Rest Framework API using for VueJs. If @yashLadha want develop with me, could you add my skype or Facebook?

[2017-09-05 18:42] congtoanle opened #111 "Splitting Comment and Feeds"
According to structure of Bootcamp, Feeds structure is: Feed (Parent Feed) - Comment (Child Feed). How about separating it into two database table and make a connection between them
Like this Database Structure: https://i.stack.imgur.com/98wSu.png, **Posts** and **PostComments** is made two database table separately.

[2017-09-05 18:44] yashLadha commented on #101
Yaa sure. Send me ur facebook link and skype name?
My Skype Name is : Yash Ladha

[2017-09-05 19:55] sebastian-code commented on #111
How this would benefit the user base? How would this improve the software? Do you have a feature in mind which requires something of the likes?

[2017-09-06 15:53] sebastian-code commented on #107
Solved with #110. Closing now.

[2017-09-06 15:53] #107 closed

[2017-09-07 03:25] teenoh opened #112 "django admin page not found"
I can't seem to open django admin page.
I have included `url(r'^admin/', admin.site.urls),` in bootcamp.urls but I keep getting an error that admin/index.html is not found when I try to open it.

[2017-09-07 03:41] sebastian-code commented on #112
The django admin panel is not enabled by default, for that please check the Django documentation on how to enable and configure it.

[2017-09-07 03:41] #112 closed

[2017-09-07 05:06] teenoh commented on #112
Ouch!! just saw that, Thanks for the hindsight. It's working now

[2017-09-07 18:55] sebastian-code commented on #101
This looks interesting. I would like to see that vue.js UI.

[2017-09-13 08:24] chetanya-shrimali commented on #101
Hey I am chetanya. I would like to work on this issue. Even Flask is a good Framework to build an API on @yashLadha @sebastian-code . I have created some API and secured endpoints in it. I can direct you to the Github project link!!

[2017-09-13 13:33] sebastian-code commented on #101
This sounds interesting @chetanya-shrimali. We are open to this. Please feel free to submit your PR, or in any case try to contact @yashLadha and @congtoanle to check if you can work together.

All of you, let me know if there is something I can do to help.

[2017-09-13 13:57] yashLadha commented on #101
It is in Django, the current codebase so we can use the DRF(Django Rest
Framework) also as it will not make a separate code and can be used with
the current codebase. @chetanya-shrimali @congtoanle Views?

On Wed, Sep 13, 2017 at 7:03 PM, Sebastian Reyes Espinosa <
notifications@github.com> wrote:

[2017-09-13 14:00] chetanya-shrimali commented on #101
@sebastian-code i already contacted @yashLadha as we are roommates :p

[2017-09-13 14:01] chetanya-shrimali commented on #101
@yashLadha fair enough. We can directly create it via Django Rest Framework instead of switching codebase.

[2017-09-13 14:06] sebastian-code commented on #101
Have you tried Python Graphene for API?

[2017-09-13 14:19] chetanya-shrimali commented on #101
I haven't before. But just saw the documentation it provides variety of integrations. Seems interesting!!

[2017-09-13 15:03] sebastian-code commented on #101
Yes, I haven't tried, but I think than perhaps it would be useful or at least interesting. Anyway, feel free to submit the resulting PR; don't forget to add the proper tests for the new code, and do it against the develop branch.

[2017-09-13 16:14] rthel opened #113 "About track_comments views, there's a small bug make comment count incorrect."
In template `partial_feed_comments.html` when feed has no comment, it will return one `hint`:
[code]
 `static/js/feeds.js` line 264 will treat this `hint` as one comment and update comment count to 1, that's not correct.
[code]

so how about remove that `hint` or write it in `partial_feed.html` below the `<ol class="prefix"></ol>` , then update `views.trakc_coments` and  use jQuery controll it's v

[2017-09-13 17:56] sebastian-code commented on #113
Hi @rthel I haven't been able to replicate the behavior. Until now, the results are consistent with the expected. Can you provide more information?

[2017-09-14 16:41] chetanya-shrimali commented on #101
Fine i'll explore the it!!

[2017-09-15 09:40] rthel commented on #113
[bug replicate](https://github.com/rthel/huimu/blob/master/bug.jpg)

hello, look at this, I make a jpeg, please click the link and it may help me to explain the issue.

[2017-09-16 06:50] rthel opened #114 "Why this project use less get_object_or_404 than objects.get, What's the benefits?"
I'm new to Django, in my view the former is more convenient and can quick response to the wrong request, anybody knows the difference between these two method? does these two method have different CPU expenses?  : )

[2017-09-16 13:06] vitorfs commented on #114
Hey @rthel :-)

The `get_object_or_404` is just a shortcut for

[code]

I guess the difference (in terms of performance) is negligible. It really depends on what you are trying to achieve

[2017-09-16 13:07] sebastian-code commented on #114
Hi @rthel Like @vitorfs says, and perhaps the documentation can help you understand about that a little bit more [here](https://docs.djangoproject.com/en/1.11/topics/http/shortcuts/#get-object-or-404)

[2017-09-16 13:07] #114 closed

[2017-09-16 16:12] sebastian-code commented on #113
It was hard to spot the bug @rthel and now I see what you're talking about. Can you provide a fix for it in a new PR?

[2017-09-17 02:11] sebastian-code commented on #105
I added a new face to the messenger app, but I would like your input on this @vitorfs up to this point. Still lacking the django-channels (or any other websockets channel) implementation, but studying a lot on it.

[2017-09-17 14:06] rthel commented on #113
@sebastian-code Yes, I'd love to : )

[2017-09-19 08:45] rthel opened #116 "When an article is too long, articles list page will look like too mess and complex"
I think we can make some change in template to solve long article problem. Django built-in template filters support `truncatewords` to truncates a string after a certain number of words, `striptags` to  strip all HTML tags. how about use this two filter to slice the article content.

Template `articles.html`:
[code]
Template `partial_article.html`:
[code]

[2017-09-19 12:29] rthel opened #117 "Question about articles.js"
In file **bootcamp/bootcamp/articles/static/js/articles.js** line 4 and line 9:

[code]

Page contains more than 1 `<form>` (serch form), although it working properly, do we need to select element explicit? like `$("#write-form")`

[2017-09-19 12:39] vitorfs commented on #117
It would be good to add an ID to the element and change the articles.js file to use it, as you mentioned!
We welcome PRs!
Thanks :-)

[2017-09-19 13:00] sebastian-code commented on #116
Hi @rthel, the issue is with the actual markdown implementation and this is related to #92; if you add a big image o have a really long word, it will be shown going over the margins, and this happens to every single app in Bootcamp working with markdown.

Ont the `truncatewords` filter tag, you need to have in consideration than at this point that template is already showing only 255 characters be

[2017-09-20 06:56] ralphite opened #118 "[Question] fields in activity model"
Why put feed, question, answer in the activity model? This will create a very denormalized table. On the other hand if we create a relate table for each action/target pair (e.g. like a question, unfav an answer...) then we would have a lot of normalized tables to maintain. What's the balance on this?

[2017-09-20 14:27] sebastian-code commented on #118
Your point is very interesting, can you elaborate a little bit on that? Perhaps do you have a diagram with your suggestion?

[2017-09-22 16:30] sebastian-code commented on #113
Solved with #115

[2017-09-22 16:30] #113 closed

[2017-09-22 21:32] sinhapiyush86 commented on #101
Hello, people, I am completely new to open source world, Can anyone help me to sort out how can I help in this project? I have some experience in working with Django rest framework. This is the link(https://temperatureapi.herokuapp.com/temperature) to my hobby project which is a RestAPI and it records temperature from an android application embedded with Arduino.Can someone help me entering in ope

[2017-09-22 22:26] sebastian-code commented on #101
That's a really though question @sinhapiyush86 but somehow is similar to work with a remote team, perhaps the aim of the project is different.

To be sincere, I'm not the best person to ask, but perhaps [this content](https://opensource.guide/how-to-contribute/) can help a little bit.

[2017-09-23 09:04] sinhapiyush86 commented on #101
Thanks @sebastian-code

[2017-09-24 08:58] chetanya-shrimali commented on #66
Hey, @sebastian-code is anyone still working on this " Display the list of users who liked a given feed, on hover (As requested on #21)". cuz I would like to send pr on this issue.

[2017-09-24 11:51] sebastian-code commented on #66
Hi @chetanya-shrimali No than I'm aware of. I'll be delighted if you send one.

[2017-09-27 08:30] vitorfs commented on #118
It was actually a bad design
A good solution would be to implement a generic relation, using the `contenttypes` api
https://docs.djangoproject.com/en/1.11/ref/contrib/contenttypes/

I wrote about it in a blog post a while ago, but didn't take the time to actually implement it on bootcamp.
I used this specific example you mentioned, in the Activity model, to show how it would be done:
https://simpl

[2017-09-29 07:28] NothingxFluctuation opened #121 "Admin Page"
I tried to made an admin page from where I can supervise feeds and articles but when I used the conventional method (adding admin in urls and in settings), it didn't work. The error points to bootcamp.core.views.profile and I really didn't get it. Would you please guide me on this?

[2017-09-29 09:41] 007akk commented on #101
@sebastian-code  Hi sebastian , I went through ur site , and i really found i pleasing , i am a newbie to working with django and rest framework , but i really find all this stuff interesting , I really want to do contribute in this project , let me know if there is something i can contribute

[2017-09-30 10:39] sebastian-code commented on #121
Hi @NothingxFluctuation Do you mind to provide the stack trace for that error with relevant information about your setup and deployment?

[2017-10-03 15:16] WUJISHANXIA commented on #116
Hi @sebastian-code , here is my solution. 1.translate markdown to html 2.get  summary from the html by using HTMLParser. this can filter the image.
[code]
Class `SummaryHTMLParser`
[code]
example:
this article has big image
![2017-10-03 10 55 27](https://user-images.githubusercontent.com/13394577/31131928-1ea72134-a821-11e7-88e5-24d38070e60a.png)

 it is  working properly
![2017-10-03 10 44 37](ht

[2017-10-03 15:37] sebastian-code commented on #116
Great solution @WUJISHANXIA How does it works with really long strings?

[2017-10-04 01:40] WUJISHANXIA commented on #116
Hi @sebastian-code , i change the func `get_summary` in the class `SummaryHTMLParser(HTMLParser) `.
if there are 30 consecutive non-space characters in the summary, insert a space to the summary.
[code]

it is working properly with really long strings.
e.g.
long strings
![2017-10-04 9 15 38](https://user-images.githubusercontent.com/13394577/31156330-98e06bc4-a879-11e7-89da-66ffc2cad3f9.png)

arti

[2017-10-05 21:53] sebastian-code commented on #116
Hi @WUJISHANXIA Nice solution, thanks for that. I still need to consider if this is the best fitting approach for different screen sizes. Shouldn't the UI wrap the text presentation and show it in a more dynamic way, with more responsiveness in front of window size changes? Is that possible?

[2017-10-06 06:24] WUJISHANXIA commented on #116
Hi @sebastian-code ，I test it in chrome with different screen sizes，the result are shown below，it can works with different screen sizes . I can't find a simple way to get the screen size  on the server-side.

In addition，can I send a PR for the solution about filtering big image ?

before：
![2017-10-06 1 10 37](https://user-images.githubusercontent.com/13394577/31263875-d1677930-aa2a-11e7-8211-9d9

[2017-10-06 15:23] sebastian-code commented on #116
To truthful @WUJISHANXIA it looks great, is even better than I think, and I really appreciate the effort you put up to showcase the different outputs. Of course you can send a PR, it will be highly appreciated.

Just a couple of requests on that:

Please, remember to push it against the develop branch.
Don't forget to provide the proper tests for the new code.
This is being aimed to the articles a

[2017-10-09 20:23] akankshagr opened #122 "issues with python manage.py migrate"
I am in windows machine and when i run this command I am getting this issue.
 line 70, in get
    raise UndefinedValueError('{} not found. Declare it as envvar or define a default value.'.format(option))
decouple.UndefinedValueError: SECRET_KEY not found. Declare it as envvar or define a default value.

My settings.ini file looks like this

[DEBUG=True]
SECRET_KEY=mys3cr3tk3y
[ALLOWED_HOSTS=*]
[DA

[2017-10-10 12:10] sebastian-code commented on #122
Hello @akankshagr to solve your need, please refer to the project's wiki, in the [_Installing and Running Bootcamp_ section](https://github.com/vitorfs/bootcamp/wiki/Installing-and-Running-Bootcamp) you'll find the necessary instructions.

But to resume them for you, you shouldn't create a `settings.ini` file (to be honest I don't know where that came from); what you need to create is to copy the

[2017-10-11 14:40] Vigor111 commented on #122
I just having a issue when I run the command `python manage.py migrate`

  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/django/core/management/__init__.py", line 364, in execute_from_command_line
    utility.execute()
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/

[2017-10-12 01:39] sebastian-code commented on #122
Hi @Vigor111 The answer you're looking for is described in the last two lines, your problem is than you haven't configured the PostgreSQL server with the bootcamp database and user.

How are you deploying the PostgreSQL engine and how are you establishing connections from your Bootcamp instance to that DB engine?

[2017-10-12 11:09] akankshagr commented on #122
In windows I can't save any file named .eve so I read through your resoved issue it says for windows use settings.ini.WHat do you mean by root folder?

[2017-10-12 12:38] sebastian-code commented on #122
Hi @akankshagr You're actually right, sorry about that, I don't use windows, and I don't check too much about it.

Bootcamp loads the settings and elevates them to environment variables using the package `python-decouple` and you're right, that package supports a file named `settings.ini`; what I can see from your initial message is than your file is improperly configured, you're surrounding the v

[2017-10-14 09:36] akankshagr opened #124 "Login is not working"

[2017-10-14 15:45] sebastian-code commented on #124
Hi @akankshagr Can you provide additional information on this? At this development stage the code is fully functional and the login workflow is working without issue.

If you have the error stacktrace, and if you can elaborate on the issue you are having and the necessary steps to reproduce the error, I can help you in a better way.

[2017-10-14 15:46] sebastian-code commented on #122
Hi @akankshagr did this worked for you?

[2017-10-14 15:48] sebastian-code commented on #121
Hi @NothingxFluctuation do you have any update on this?

[2017-10-14 15:57] sebastian-code commented on #111
Hi @congtoanle do you have some update on this?

[2017-10-15 12:26] WUJISHANXIA opened #125 "issue with duplicate article title"
there is two same title 'test', it would raise a error when go to the  'test' article page.

i think it should check if there is already have a same title in database when create article. if there is already have, it should return a error to mention user to change the title.

![2017-10-15 8 18 22](https://user-images.githubusercontent.com/13394577/31584728-2ccbe540-b179-11e7-8837-c8f05aab1263.png)

[2017-10-16 15:59] akankshagr commented on #124
Now its working fine can you tell me how can I add forgot my password and social login(facebook,google) functionality

[2017-10-16 16:24] sebastian-code commented on #124
I'm glad is working, and about your request, to be honest, it will require some work from your side because that was outside the scope of the initial project; you'll need to develop the code with the required functionalities and the proper workflow. As a basic approach I would recommend to incorporate some kind of social user management.

Django has some interesting packages for that, but it will

[2017-10-16 16:24] #124 closed

[2017-10-17 19:09] #125 closed

[2017-10-17 19:11] sebastian-code commented on #122
Closing

[2017-10-17 19:11] #122 closed

[2017-10-17 19:12] sebastian-code commented on #121
Closing for inactivity.

[2017-10-17 19:12] #121 closed

[2017-10-17 19:13] sebastian-code commented on #111
Closing until further development is available.

[2017-10-17 19:13] #111 closed

[2017-10-18 02:09] norsec commented on #66
hi, i got a Social Auth System working with AllAuth Django, but was have to install the admin site to configure that. maybe we can include here?

[2017-10-18 08:26] feedgit opened #126 "Creating Universally Unique ID"
I get problem because I want to auto generate Unique ID for every model field. Example: User 1 have ID 1, User 2 have ID 2, Feed 1 have ID 3. Feed 2 have ID 4, ... like Facebook design. (fb.com/4 -> Mark Profile, fb.com/10104096471894281 -> Mark Feed)
How can I do this like Facebook? Thank you Vitorfs!

[2017-10-18 10:34] congtoanle commented on #126
I found a solution: Sharding PostgreSQL and generate by timestamp, ShardID. How do you think?

[2017-10-30 09:14] ijajmulani commented on #101
Hi Guys, I also wan't to contribute in this feature. Let me know where do I start.

[2017-11-01 13:48] sebastian-code commented on #126
Hi @feedgit This is a really complex situation, far beyond the original project intent. I'm glad than you have this kind of interest. About your need, and your solution, I still don't understand the full scope of what you want to achieve, because this part confuses me:

You say you want to create a unique ID for every single field for every model (I don't see want you want to do something than com

[2017-11-02 13:28] tritone11 opened #127 "Infinite scrolling for Feeds"
I see in the README that the infinite scrolling is built in for the Feeds app, but there is no documentation about how to enable it. In the feeds models there is no option to do it. Any clue?

[2017-11-13 10:35] Allan-Nava opened #128 "python3 manage.py makemigrations"
I use the command: python3 manage.py makemigrations
[code]

But I create the column before the command... Is possibile migrate ?

[2017-11-14 18:59] CruiseDevice commented on #128
What is the problem? Did you create the column manually without doing makemigrations?

[2017-11-14 19:35] Allan-Nava commented on #128
Yes! I solved with migrations --fake

2017-11-14 19:59 GMT+01:00 Akash Chavan <notifications@github.com>:

[2017-11-14 22:31] sebastian-code commented on #128
Thanks for your help @CruiseDevice Closing now.

[2017-11-14 22:31] #128 closed

[2017-11-19 08:40] feedgit commented on #126
@Sebastian Code. Ive been trying many ways to do it but I dont have the best way now.
UUID is good but if use UUID, it face with many errors about DATE CREATED.
I find a package: https://github.com/JBKahn/django-sharding. Maybe It will help if anyone to try sharding database in Django.
Thank you! Tell me if you have a better solution!

[2017-11-19 14:53] sebastian-code commented on #126
As I said before, perhaps I haven't been able to understand what you want, and perhaps that's the reason I still think _sharding_ will not solve your need. Beyond my previous suggestion of implementing UUID fields for every single model, I am out of ideas, but I wish you good look with that, yours truly sounds like a really interesting use case.

[2017-11-19 14:53] #126 closed

[2017-11-21 06:47] feedgit commented on #126
Thank you @sebastian-code Hope your project will develop in the future. :)

[2017-11-30 04:40] feedgit opened #129 "Use ContentType for Activities"
Why dont you use ContentType for model Activities instead of having many fields? It makes more slot in database. Check this one: https://github.com/vitorfs/bootcamp/blob/master/bootcamp/activities/models.py.

How if I change to ContentType?

[2017-11-30 17:22] Allan-Nava opened #130 "Is possible moderate the users' activities?"
Hi,

I found [django-moderation](https://github.com/dominno/django-moderation) to moderate the activities of user.

Thanks, best regards

[2017-12-01 13:29] sebastian-code commented on #129
Hi @feedgit
You're most than welcome with any improvement on the code base, if you want to take a look, we discussed that topic a little bit in #118 with @ralphite and @vitorfs, talking about how to implement it, mainly because the migrations of this would make things harder to improve for the project user base.

[2017-12-01 13:31] sebastian-code commented on #130
This is interesting, it would be useful under a wider scenario than the originally intended for Bootcamp. Do you have than kind of implementation?

[2017-12-01 13:32] sebastian-code commented on #127
To be honest, I don't know, I'll take a look to the code, but in the mean time, if you want to suggest some kind of a fix for it, you're most than welcome.

[2017-12-01 13:56] Allan-Nava commented on #130
At the moment no, but I am developing a custom Bootcamp.

I'm trying to integrate the django-moderation to have a such "parent control" of activities or feeds.
Furthermore i added groups manager to extend the auth of django.

[2017-12-02 08:50] feedgit commented on #129
I implemented success in my project but If you guys have better solution. We can discus it in the future. Thank you very much!!

[2017-12-02 14:28] #129 closed

[2017-12-06 09:46] Allan-Nava opened #131 "Feed with different type of feeds"
I'm trying to implement 3 types of feed:

1. Status (message feed)
2. Video feed
3. Image feed

I'm using the **feed** class, **feed type** and for each type a specific class but I don't know how to connect the feed class with each type class(video class, image class)

Any suggestion?

Thanks for support

[2017-12-06 14:43] Allan-Nava commented on #131
@sebastian-code I realize this feature, but i don't know how can I get the extra fields from the image feed or video feed.

This is my code:
[code]

[2017-12-06 14:59] Allan-Nava commented on #131
Nothing I solved!

![screen shot 2017-12-06 at 15 57 52](https://user-images.githubusercontent.com/22498435/33667888-6d1c483a-da9e-11e7-8861-b0542a07aa27.png)

[2017-12-06 16:39] sebastian-code commented on #130
We you have it implemented, and if you're going to share it, please let me know. It sounds interesting.

[2017-12-06 16:39] #130 closed

[2017-12-06 16:42] sebastian-code commented on #131
I wasn't able to understand completely your requirement, but I'm glad you solved it. The functionality, I'm not certain yet about it, but I think you choose a really complex path to implement it, you could also transform the original Feed model to an abstract model and inherit from it the other ones.

[2017-12-06 16:44] Allan-Nava commented on #131
Is confusing, sorry :( i know

2017-12-06 17:42 GMT+01:00 Sebastian Reyes Espinosa <
notifications@github.com>:

[2017-12-06 16:45] Allan-Nava commented on #130
Where can I find it?

2017-12-06 17:39 GMT+01:00 Sebastian Reyes Espinosa <
notifications@github.com>:

[2017-12-06 20:05] Allan-Nava commented on #131
@sebastian-code Because the other type of feeds are sort of son..

![screen shot 2017-12-06 at 17 17 43](https://user-images.githubusercontent.com/22498435/33682834-1aa8460a-dac9-11e7-959f-e60980538c21.png)
![screen shot 2017-12-06 at 17 17 31](https://user-images.githubusercontent.com/22498435/33682838-1b7c341a-dac9-11e7-9a02-1165fb6f84cd.png)

This is my example in admin panel :)

[2017-12-07 13:19] sebastian-code commented on #131
It looks really nice, thanks for sharing; as I stated before, I think I haven't been able to understand fully your whole requirement and the goals you have set for your project. It would be nice to see it when finished, so let me know when you have it, perhaps there something to learn from it and to implement here.

[2017-12-07 13:19] #131 closed

[2017-12-09 20:02] norouzzadeh opened #132 "No module named 'django.core.urlresolvers'"
In Django version 2.0, the django.core.urlresolvers module has been moved to django.urls. I get the following error:
ImportError: No module named 'django.core.urlresolvers'

[2017-12-09 20:37] sebastian-code commented on #132
The project code base is not yet compatible with Django >= 2.0. That would have to wait a little bit. If you already solved that part, it would be great to include your PR fixing this compatibility issue. Don't forget to follow the collaboration guidelines.

[2017-12-11 10:25] Allan-Nava opened #133 "Is possibile integrate Django-moderation?"
I have found [django-moderation](https://github.com/dominno/django-moderation) but is not working with[ django-guardian](https://github.com/django-guardian)

Also I use [django-groups-manager](https://github.com/vittoriozamboni/django-groups-manager) to handle the groups and users.

[2017-12-11 13:17] sebastian-code commented on #133
Hi @Allan-Nava Taking a look at django-moderation, I would say yes, is possible and I don't see it that hard, why you ask?

[2017-12-11 13:23] Allan-Nava commented on #133
Hi @sebastian-code, because I got error when I add 'moderation' in **INSTALLED_APPS**

[2017-12-11 13:50] sebastian-code commented on #133
What is the error?

[2017-12-11 13:54] Allan-Nava commented on #133
My bad I solved

[2017-12-11 13:54] #133 closed

[2017-12-11 13:58] Allan-Nava commented on #53
I think is not bad this [django-groups-manager](https://github.com/vittoriozamboni/django-groups-manager)

[2017-12-12 01:28] Codevero opened #134 "Could you tell me where the "requirements.txt" file is?"
I didn't find this file at the project root. There is only one folder named "requirements" .

[2017-12-12 13:37] sebastian-code commented on #134
Hi @Codevero

The wiki was out of date, I already fixed that, take a look, but to answer directly your question, the requirement files are inside the requirements folder.

For development use the file named `local.txt`, if you are more interested in a production setup, please use `production.txt`.

[2017-12-12 13:37] #134 closed

[2017-12-12 20:38] tarasha opened #135 "Command "pythin setup.py egg_info" failed with error code 1 in /tmp/pip-build-eLZ8Xt/Django/"

[2017-12-12 20:42] tarasha commented on #135
The requirements.txt file was easy to get through "pip install -U -r requirements.txt", though the installation proceducre has changed, and now when I try to use base.txt, or local.txt or production.txt, it keeps failing with the error-Command "pythin setup.py egg_info" failed with error code 1 in /tmp/pip-build-eLZ8Xt/Django/

[2017-12-12 21:36] sebastian-code commented on #135
I haven't been able to reproduce any error when installing requirements; to be of help to you, please, provide additional information, a wider error stack trace (in full if possible), and the steps to reproduce the error.

[2017-12-12 21:41] tarasha commented on #135
Thanks for reaching out!

Here’s the stack!

[cid:image001.jpg@01D3734E.ECAB50D0]

From: Sebastian Reyes Espinosa [mailto:notifications@github.com]
Sent: Tuesday, December 12, 2017 1:36 PM
To: vitorfs/bootcamp <bootcamp@noreply.github.com>
Cc: Tara Shankar Jana <tarasha@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [vitorfs/bootcamp] Command "pythin setup.py egg_info" failed with

[2017-12-13 00:34] sebastian-code commented on #135
Sorry, it shows nothing @tarasha, apparently the image was not attached.

[2017-12-13 09:52] Allan-Nava opened #136 "Integrate django-groups-manager and django-guardian"
I think is really comfortable integrate [django-guardian](https://github.com/django-guardian/django-guardian) and [django-groups-manager](https://github.com/vittoriozamboni/django-groups-manager) to handle the permission and groups for bootcamp.

[2017-12-13 10:10] feedgit commented on #131
@Allan-Nava I am planning create different type of feeds like you. Could you share me your contact facebook or Skype?

[2017-12-13 10:43] Allan-Nava commented on #131
@feedgit What do you need?

[2017-12-13 20:52] tarasha commented on #135
Can I get your email address? The issue is the machine where I am running the app and the ubuntu VM; is something I can’t copy the stack due to security controls and RBAC.

Tara

From: Sebastian Reyes Espinosa [mailto:notifications@github.com]
Sent: Tuesday, December 12, 2017 4:34 PM
To: vitorfs/bootcamp <bootcamp@noreply.github.com>
Cc: Tara Shankar Jana <tarasha@microsoft.com>; Mention <mention@

[2017-12-13 20:54] sebastian-code commented on #135
Hi @tarasha as you can see, my email address is in my GitHub profile, right below the photo, the email address is sebaslander@gmail.com

[2017-12-14 08:25] feedgit commented on #131
Please Add my Skype: kai_trystan7 :)

[2017-12-14 11:25] Allan-Nava commented on #131
If you want write me on Facebook https://www.facebook.com/Allan.Nava95

2017-12-14 9:25 GMT+01:00 Nasir Khan <notifications@github.com>:

[2017-12-18 11:05] Allan-Nava opened #137 "Is possible implement follow/unfollow functionality"
Hi,

is there a follow/unfollow user ?

Thanks

[2017-12-18 13:58] sebastian-code commented on #137
Hi @Allan-Nava
No, bootcamp has not that feature.

[2017-12-18 13:58] #137 closed

[2017-12-18 13:59] Allan-Nava commented on #137
Ok @sebastian-code thanks for answer

[2017-12-18 14:02] sebastian-code commented on #136
Hi @Allan-Nava

That is great, let me know how it looks when you do it, as with the other features you are implementing on Bootcamp and than we have discussed before.

[2017-12-18 14:02] #136 closed

[2017-12-18 14:02] #132 closed

[2017-12-18 14:03] Allan-Nava commented on #136
Hi @sebastian-code ,

I have implemented it !

[2017-12-18 14:04] sebastian-code commented on #135
Hi @tarasha Have you solved your issue through our previous email? If yes, please let me know how you did it, or what was the problem, that should help other people.

[2017-12-18 16:34] tarasha commented on #135
Certainly, currently we are testing the platform for RBAC’s; hope to get this resolved soon!

Thanks,
Tara

From: Sebastian Reyes Espinosa [mailto:notifications@github.com]
Sent: Monday, December 18, 2017 7:35 PM
To: vitorfs/bootcamp <bootcamp@noreply.github.com>
Cc: Tara Shankar Jana <tarasha@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [vitorfs/bootcamp] Command "pythin setu

[2017-12-19 20:45] Allan-Nava opened #138 "Installing in windows"
Hi,

I installed in my windows pc but I have this error:
[code]
![image](https://user-images.githubusercontent.com/22498435/34177988-dac319c4-e505-11e7-89ba-32f71c013dd4.png)

![image](https://user-images.githubusercontent.com/22498435/34177942-ae032492-e505-11e7-8310-483949993da5.png)

I want to help with some feature when I have lost time.

[2017-12-19 21:04] sebastian-code commented on #138
This error takes place when django==2.0, at this moment Bootcamp is not compatible with that version of Django. Please remove it and install a previous version, django==1.11.x works correctly.

[2017-12-20 07:07] Allan-Nava commented on #138
Good morning @sebastian-code ,

I have downgrage the django, but now I have this error:
[code]
![image](https://user-images.githubusercontent.com/22498435/34195256-df1f2786-e55c-11e7-983f-77199f2c3575.png)

[2017-12-20 14:35] sebastian-code commented on #138
Hi @Allan-Nava it appears you have issues with your database and the server is unable to establish connection with the data volume, how are you doing that part?

[2017-12-20 18:55] Allan-Nava commented on #138
Hi @sebastian-code, is my first django app with my personal pc windows. What should I do?

[2017-12-20 20:03] Allan-Nava commented on #138
I want to try use SQLite Locally

[2017-12-20 20:51] sebastian-code commented on #138
For that define the `DATABASE_URL` variable inside your `.env` file with a properly formated  SQLite database address using URL format. You can find an example inside the `env.example` file.

[2017-12-20 21:19] Allan-Nava commented on #138
I use the .env with the same conf:
[code]
 I have the same error:
[code]

![image](https://user-images.githubusercontent.com/22498435/34229186-af28bab6-e5d3-11e7-95fe-469fb6d79318.png)

[2017-12-20 22:02] sebastian-code commented on #138
That is because the address is the wrong way. For SQLite, Django requires the physical location for the SQLite file inside your hard drive, expressed in URI format.

[2017-12-22 00:11] gelenaj commented on #132
use this:

from django.core.urls import reverse

[2017-12-22 07:03] Allan-Nava commented on #138
@sebastian-code Thank's, it works!

![image](https://user-images.githubusercontent.com/22498435/34288630-99efbaf2-e6ee-11e7-8dc6-e26bc2a6f1bf.png)

[2017-12-22 07:03] #138 closed

[2017-12-23 18:45] Allan-Nava commented on #66
I have included the admin panel with jet @norsec !
Badges are very interesting features!

[2018-01-11 22:24] sebastian-code commented on #135
Hi @tarasha did you were able to solve this issue?

[2018-01-12 10:17] jackengine commented on #138
How do you use django 1.11 with this command `pip install -U -r requirements/local.txt`

[2018-01-12 11:15] Allan-Nava commented on #138
I solved thanks!

2018-01-12 11:17 GMT+01:00 jackengine <notifications@github.com>:

[2018-01-12 12:45] jackengine commented on #138
@sebastian-code I have django 2.x in pip cache. Now how I can force pip to use django 1.9 while running this command `pip install -U -r requirements/local.txt`

[2018-01-12 20:25] sebastian-code commented on #138
Hi @jackengine The easiest way is to execute the command, and once installed, manually delete the package, and then install django again, but declaring the specific versión you want. My advice would be not going with django v1.9, is too old, I would suggest to use django 1.11 which is LTS.

[2018-01-14 02:18] sebastian-code commented on #135
Closing until there is further development.

[2018-01-14 02:18] #135 closed

[2018-01-14 15:32] sebastian-code opened #139 "django-autoslug incompatibility with Django 2.0"
The package `django-autoslug` is currently not in active development, apparently the author has no interest in keep it going. This hinders the possibilities to take update Bootcamp Django version over v1.11.x at this moment.

[2018-01-15 00:15] tarasha commented on #135
Yes I did.

Sent from my iPhone

On Jan 11, 2018, at 2:25 PM, Sebastian Reyes Espinosa <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @tarasha<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Ftarasha&data=02%7C01%7Ctarasha%40microsoft.com%7C0de1eb329bf74b16005708d5594225da%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636513062996730183&sdata=gU1

[2018-01-16 05:54] mingli91 commented on #135
Hey, I have the same issue.
I wonder why you didn't share detailed information...only through private emails

[2018-01-22 16:25] teury opened #140 "new method to show the avatar"
I have seen how the profile image is displayed, and it is not a good technique since the image address is not saved in the DB, but the image is shown according to the user name, but if you change the name of the username, user would lose the image, besides that this method is not compatible with amazonian s3.

imagefield is a better solution or maybe sorl-thumbnail or something similar.

[2018-01-22 18:46] sebastian-code commented on #140
I do agree with you @teury but at that moment I haven't been able to replace it in proper way because I do want to keep the specific image loading functionality, but my JS is not really good.

Do you have some PR to propose? That would be nice to have.

[2018-01-25 21:35] yobra98 opened #141 "GET"
every time i try to send a message i get this error

please help

GET http://127.0.0.1:8000/messages/check/?_=1516915870607 404 (Not Found)

 and

POST http://127.0.0.1:8000/messages/send/ 404 (Not Found)

[2018-01-26 00:08] sebastian-code commented on #141
@yobra98 this is not enough information, please elaborate around your setup and deployment. Which branch are you trying to run? Are you going for the production of local development setup? Are you running on docker?

Any additional information regardless of your installment and setup process will be helpful.

[2018-01-29 18:56] vitorfs commented on #127
The infinite scrolling is activated by default in the homepage and in the user's profile
It shows 10 posts at a time (it can be configured here https://github.com/vitorfs/bootcamp/blob/master/bootcamp/feeds/views.py#L15)

Maybe it's a good idea to move this const to settings.py instead?

The infinite scrolling is enabled for the feeds app only though, the articles use regular pagination

[2018-01-29 18:56] #127 closed

[2018-01-29 19:25] vitorfs opened #142 "Add `on_delete` parameter on all foreign keys"
This change is required in order to make bootcamp compatible with Django 2.0

PS: If I'm not mistaken, the default behaviour used to be cascade on delete, so I think it would make sense to just add `on_delete=models.CASCADE` to all foreign keys.

Maybe later on we can evaluate the models and check if it would make sense to protect or set null on a few relationships.

[2018-01-29 20:12] sebastian-code commented on #142
This has already been added also with the solution for the `reverse` _ImportError_ due to the same version of Django, all of this was done with 1bfb9274dd13f10b5ad44c6d8ecb2a397824da48

[2018-01-29 20:12] #142 closed

[2018-01-29 20:19] vitorfs commented on #142
Ah! That's great!
I didn't check the develop branch -- my bad! 😅

[2018-02-03 15:57] sebastian-code opened #143 "Fix UI-UX issues with the notifications"
The JS client is a little bit crude at this point, and the notifications workflow needs improvement and refining; right now it needs to solve the next cases:

- An user receives a new notification, if the user reloads the page or changes it to another menu, the styling for the notifications bell changes to its normal status.
- An user receives a new message, if the user reloads the page or changes

[2018-02-03 15:57] sebastian-code commented on #47
Solved. Closing

[2018-02-03 15:57] #47 closed

[2018-02-03 16:54] sebastian-code commented on #105
Fixed. Closing.

[2018-02-03 16:54] #105 closed

[2018-02-03 20:09] sebastian-code opened #144 "The project next phase."
Every mayor library is migrating totally to Python 3 now, even Django starting with v2 will be backwards incompatible with Python 2, django-channels v2 is already tied to Python 3.6 and up because the changes in its implementation.

This new changes to core libraries opens the question not to should we upgrade but to when we will upgrade, as also was established with #66

[2018-02-04 13:07] sebastian-code commented on #144
This also begs the question about the Django version, v1.11.x is a LTS version, with support until 2020, and is entirely compatible with Python 2 and also with Django v2.x. So I guess than we need to include it.

[2018-02-04 13:10] sebastian-code commented on #144
And at the heart, should this release be backwards compatible with previous Bootcamp state? Perhaps releasing a stable version (v1.x?) and then starting working on a new branch to include all of this upgrades?

[2018-02-04 13:10] sebastian-code commented on #144
What do you thing of all of this @vitorfs ?

[2018-02-05 06:23] vitorfs commented on #144
I like the idea of releasing a stable 1.x version with python 2 and 3 compatibility
and then we jump to 2.x and make it python 3 only and start using django 2.x with all new features etc

[2018-02-05 13:12] sebastian-code commented on #144
Perfect @vitorfs the next logical question is what do you think of the actual state of development of Bootcamp? I thinks is near to be ready to be merged to master and released as v1.x

[2018-02-11 11:42] mrtexaznl opened #145 "localization"
is it possible to contribute to localization of the user interface?
I see that templates use i18n and trans directive, but where are the translated messages located?

[2018-02-11 22:50] sebastian-code commented on #145
Those are inside the Django automatic folders for different translations. You can work on that using for it the internationalization tools provided by the framework.

[2018-02-14 17:06] sebastian-code commented on #66
Milestone reached, closing this issue.

[2018-02-14 17:06] #66 closed

[2018-02-15 13:39] sebastian-code commented on #144
Great, v1.0.1 has been released, Bootcamp v.1 is ready now. So there are some considerations on the project to evaluate how to go from here to Bootcamp v.2:

- Some improvements are in order, not just to keep the code up-to-date, but also to incorporate new versions, new practices and really nice features.
- Some of those improvements could represent a real burden if we have the intention to keep

[2018-02-17 12:46] sebastian-code commented on #141
Closing this until there is more information.

[2018-02-17 12:46] #141 closed

[2018-02-17 13:32] sebastian-code opened #146 "Upgrade the code base"
Given the EOL of Python2, and the end of the support for that version provided by Django, now is a good moment to clean the code and to take advantage of the new nice features offered by Python 3.

[2018-02-17 13:33] sebastian-code commented on #145
Closing this if there is no need of additional information.

[2018-02-17 13:33] #145 closed

[2018-02-17 13:39] sebastian-code opened #147 "Create a comments app"
This app should serve across the other apps which in time requires comments.

[2018-02-17 13:46] sebastian-code opened #148 "Improve the notifications workflow"
Right now the app is highly cluttered with the base project, it also has some issues with the workflow

[2018-02-17 13:58] sebastian-code opened #149 "Create a different rating structure"
Right now the ratings are mixed and developed for every app

[2018-02-17 18:42] sebastian-code opened #150 "Implement a better Docker structure for development"
This is somehow already in place, but there is room for improvement.

[2018-02-17 18:43] sebastian-code opened #151 "Implement a better Docker structure for production environments"
There is room for improvement.

[2018-02-17 19:23] #150 closed

[2018-02-17 19:23] #151 closed

[2018-02-17 19:34] sebastian-code opened #152 "Change the actual user reference."
When you reference the Django native User model directly (for example, by referring to it in a foreign key), your code will not work in projects where the AUTH_USER_MODEL setting has been changed to a different user model. There is a lot of leg work to do on this side.

[2018-02-17 20:00] sebastian-code opened #153 "Devise a data migration for the user scheme"
Migrating the user reference for a more robust one, as suggested in the Django documentation, requires to left behind the previous user schema implementation, which in its place makes both incompatible.

This situation renders a situation where you have two choices, leaving behind the existing data, o creating a better data migration which in time  migrates all the previous user scheme data.

[2018-02-18 00:25] sebastian-code opened #155 "Replace the markdown editor"

[2018-02-19 09:13] bradlishman opened #156 "Add Social Signup and Login"
Although referenced in https://github.com/vitorfs/bootcamp/issues/66 and https://github.com/vitorfs/bootcamp/issues/2 this task doesn't seem to have been implemented.

Is it now considered out of scope, or was this just an oversight?

[2018-02-19 14:02] sebastian-code commented on #156
Hi @bradlishman It was partially implemented because it requires some additional work if we want to keep it friendly with the old data, and I'm aware than there is still much room for improvement.  We are working on this for the new release.

[2018-03-02 21:08] VirtualAI opened #157 "Installation Error"
Hello,
during installation on Windows 10 with clear pip cache following error appears:
Exception:
Traceback (most recent call last):
  File "c:\users\michae~1\envs\test4\lib\site-packages\pip\compat\__init__.py", line 73, in console_to_str
    return s.decode(sys.__stdout__.encoding)
UnicodeDecodeError: 'utf-8' codec can't decode byte 0x94 in position 189: invalid start byte

During handling of th

[2018-03-03 13:57] sebastian-code commented on #157
Hi @VirtualAI My German is a little rusty, but if I read correctly, your issue is with pip and its permissions and not with Bootcamp itself, Am I right?

[2018-03-04 17:58] ssahilsahil798 opened #158 "chat does not work on production server"
WebSocket connection to 'ws://www.freemediaweb.com/sss/' failed: Error during WebSocket handshake: Unexpected response code: 200

[2018-03-05 14:03] sebastian-code commented on #158
Can you provide additional information? this is not useful to determine what is happening in the background, remember than you have to provide the REDIS setup for this to work.

[2018-03-06 20:50] ssahilsahil798 commented on #158
You website is extremely sophisticated. The problem was resolved though i would love any suggestion of yours if i did something not according to best practices. The deployment on DigitalOcean is tricky, Heroku might be easier and i think you made it for heroku since it contains 'Procfile'. Nginx Config and Daphne config created some problems whose solution i found over internet but not easily.
1-C

[2018-03-06 21:41] sebastian-code commented on #158
Hi @ssahilsahil798

Thanks for the comments. You're right, the `.Procfile` is there, but to be honest I don't use Heroku, so I don't pay real attention to it. I do prefer to do a clean deployment, but for those who prefer to use Docker, there is also that foundation.

In the wiki there is only information to help you start and some basics you should not forget, but the deep requirements for this k

[2018-03-06 21:41] #158 closed

[2018-03-07 09:00] ssahilsahil798 commented on #158
Though i would like to tell you that you code contains an error. It uses Django 1.6 so you should use from __future__ import unicode_literals in /bootcamp/feeds/views.py. Because you have not used that it throws "UnicodeEncodeError" -Ascii codec can't encode character u'/x04'.

[2018-03-07 14:45] sebastian-code commented on #158
For the Django version, please check the requirements files, though it uses Django >= 1.10, and is suggested than it uses Django v1.11.x.

On the other hand, the Unicode Errors surely are because you're using Python2; don't do it, use Python 3 preferably.

[2018-03-07 22:08] ssahilsahil798 commented on #148
What is the reason for this. i am also struggling to understand why chat notification works and others not?

[2018-03-08 08:23] ssahilsahil798 commented on #143
I am also working on the notification workflow.

[2018-03-08 16:16] ssahilsahil798 commented on #143
I am trying to do Fix this UI issue but i am not able to access the related name after changing it from "+". But whatever i do it throws User has no attribute related_name error. I have also tried changing related name from migrations.

[2018-03-08 18:00] ssahilsahil798 commented on #143
I am fixing this issue already on my project would you like me to collaborate? My Code might have some things that you don't want like i remove the restriction of Related_name on User i.e i am using request.user.notifications.all() for seeing which notifications user has not seen. Also in the code do you change "is_read" to True after sending notification once?

[2018-03-10 13:44] sebastian-code commented on #143
Every line of code is welcome. Let's take a look at it. Just remember the [contributing guidelines](https://github.com/vitorfs/bootcamp/blob/master/CONTRIBUTING.md)

[2018-03-11 16:43] ssahilsahil798 commented on #143
I have added the Friend Feature along with front end. I don't know how to accurately write Unit Tests. I suppose i will first learn Pytest before making a pull request. Since i work only in my free time it might take some time.

[2018-03-12 04:14] chenguanyou opened #159 "Hai KeyError at /login 'default'"
Internal Server Error: /login
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/Django-1.11.7-py3.6.egg/django/core/handlers/exception.py", line 41, in inner
    response = get_response(request)
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/Django-1.11.7-py3.6.egg/django/core/handlers/bas

[2018-03-12 14:25] sebastian-code commented on #159
I'm unable to identify with precision the issue in the error log, it appears to be something related with a constant in the settings file, I guess it is related to the REDIS configuration.

[2018-03-12 14:27] chenguanyou commented on #159
It's been settled. Thank you very much.

[2018-03-12 14:47] #159 closed

[2018-03-12 14:48] sebastian-code commented on #157
Hi @VirtualAI do you have additional information on this?

[2018-03-13 09:37] ssahilsahil798 opened #160 "delete() not working"
I made a new Model "UserLoggedIn"

class LoggedInUser(models.Model):
	user = models.OneToOneField(User, related_name='logged_in_user', on_delete=models.CASCADE)

When user log outs i want to delete LoggedInUser instance. But is is not getting deleted. Any dependancies that may prohibit this action.? Any help is appreciated.

[2018-03-13 15:11] sebastian-code commented on #160
There is no dependency on that. Perhaps you should consider using signals for that. By the way, have you looked at the notifications workflow on that? There is a workflow implemented to keep track of the user status, perhaps it can be improved but is functional.

[2018-03-15 09:26] ssahilsahil798 commented on #160
Yes i saw the "user_status" is implemented in the project but i wanted to implement the whole structure myself as this is first time i am working with django-channels and Javascript. Earlier i worked on Andorid apps/java.
 I added some files to gitignore for separating my local and production settings. Also Javascript Code is written in an unclean fashion.  So i will have to fork another copy of b

[2018-03-15 13:15] sebastian-code commented on #160
I understand. A couple of observations, you have two ways to achieve what you're trying to do, one is using signals for your model, the other one is to override the `save()` method of your model, to include the functionality you require; about the PR, you're taking your project in a different direction with that style, and we receive PR on bugs, functionalities and other parts of the software, but

[2018-03-15 14:44] ssahilsahil798 commented on #160
It worked with Signal thanks. i will keep in mind the license guidelines.

[2018-03-15 14:44] #160 closed

[2018-03-25 10:53] dustyhorizon opened #161 "Unable to use SETTINGS_MODULE=config.settings.production"
Using SETTINGS_MODULE=config.settings.production throws the following error:
[code]

I am trying to use the 'production' level setting for installing bootcamp but there was not a 'production' .env to reference from.

[2018-03-25 12:28] sebastian-code commented on #161
Hello @dustyhorizon

My first recommendation is: Go with Python 3.
Second, did you provided inside the `.env` file the required variables?

[2018-03-27 01:08] tarasha commented on #61
I get the same exact same error when I run the pip3 install... requirements/local.txt
I am unable to find the reason why. Can you please suggest?

[2018-03-27 01:44] sebastian-code commented on #61
Hi @tarasha. The issue is related to the way psycopg2 has to be installed and its requirements, not just to be able to compile, but also the validation it does on the PostgreSQL installation.

[2018-04-01 21:01] D0nQuixote opened #162 "asgi_redis now is renamed to channels_redis"
please update requirements/base.txt  and rename asgi_redis to channels_redis.
[https://github.com/django/channels_redis/channels_redis/README.rst ](url)
the latest version is 2.1.1 , Am I going to have errors if I used the latest version?

[2018-04-02 01:19] sebastian-code commented on #162
Hi @D0nQuixote. Yes, you will, that's why the project is using that version.

[2018-04-02 01:25] sebastian-code commented on #139
Fixed. Closing it.

[2018-04-02 01:25] #139 closed

[2018-04-03 13:39] sebastian-code commented on #161
Closing until further development.

[2018-04-03 13:39] #161 closed

[2018-04-06 02:25] rashards commented on #146
How are you accounting for the Group module that has been deprecated in channels 2.0?  For example, the following no longer works despite my attempts to update.

models.py

def group_notification(self, activity):
        Group('notifications').send({
                'text': json.dumps({
                'username': self.user.username,
                'activity_type': 'notification',

[2018-04-06 12:41] sebastian-code commented on #146
Hi @rashards. Thanks for your suggestion, I'm aware of the changes introduced to `django-channels` and `asgi_redis`, and given than Bootcamp at this point is still compatible with Python 2, the packages versions are fixed to the ones actually in the files.

[2018-05-18 13:26] hundredrab commented on #99
Hi. I'm new around here, but can I work on this?

[2018-05-21 06:53] elsagong commented on #139
Hi Sebastian, may I know how you fix it? I want to use django-autoslug in Django 2.0

[2018-05-21 11:41] sebastian-code commented on #99
Of course you can @hundredrab I'll be more than pleased with your help. Please don't forget to check the project [contributing document](https://github.com/vitorfs/bootcamp/blob/master/CONTRIBUTING.md) before submitting any PR.

[2018-05-21 12:10] sebastian-code commented on #139
Sorry, but there is no fix for this that involves that package. It appears than the owner has abandoned the package development making it incompatible with Django>= 2.x, and that is why it has been deprecated from this project.

[2018-06-13 10:10] yogiii363 opened #163 "Diffifculty in installing"
I am having some difficulties in the django-channels and redis step. Can someone explain me stepwise what I need to to for that?

[2018-06-13 12:59] sebastian-code commented on #163
Its hard to follow your need @yogiii363 because is not clear where exactly your are having an issue. If you follow the instructions in the Wiki page you'll be able to use Bootcamp. But you're right on something. Those steps require some basic knowledge on Redis and django-channels, but if you use the docker-compose template, you'll be able to deploy without a hassle.

Please elaborate further your

[2018-06-19 20:38] sebastian-code commented on #146
Closing after fixed in the most recent version release.

[2018-06-19 20:38] #146 closed

[2018-06-28 06:45] ngaurav opened #165 "branch develop: search.autcomplete script should be at the end of the body tag."
It uses $ which is a jquery variable. And jquery script is in the end for faster loading.

[2018-06-28 06:58] ngaurav opened #166 "branch develop: Include typeahead.js"
It is required for autocomplete feature for search.

[2018-06-28 07:15] ngaurav opened #167 "branch develop: user profile images are not in 1:1 aspect ratio"
Picture.js in master branch was handling that. But I understand, using sorl.thumbnail doesnot require cropping. But recangular images appear in oval shape in the new feed page which looks does not look as good as circular images of master branch.

In the templates the common syntax is:
{% thumbnail reply.user.picture "x60" as im %}
instead, We should use
{% thumbnail reply.user.picture "60x60" as

[2018-06-28 07:25] ngaurav opened #168 "branch develop: Commenting on any post, after posting something in the news app"
The following line in the news.js appends the new post:
$("ul.stream").prepend(data);

But there are more than 1 ul.stream
We only intended to add it to the ul.stream which is present inside .infinte-container

[2018-06-28 20:23] sebastian-code commented on #168
Is this not working as intended? I haven't been able to reproduce the behavior you suggest.

[2018-06-28 20:44] #165 closed

[2018-06-28 20:44] #166 closed

[2018-06-29 04:18] ngaurav commented on #168
When we post and then try to comment on this new post. In the modal, you will see there are two elements of the new post.

[2018-07-04 03:35] #140 closed

[2018-07-04 03:35] #143 closed

[2018-07-04 03:50] sebastian-code commented on #163
Closing.

[2018-07-04 03:50] #163 closed

[2018-07-04 03:50] sebastian-code commented on #155
Solved. Closing.

[2018-07-04 03:50] #155 closed

[2018-07-04 03:51] sebastian-code commented on #153
Dropped. Closing

[2018-07-04 03:51] #153 closed

[2018-07-04 03:51] sebastian-code commented on #152
Solved.

[2018-07-04 03:51] #152 closed

[2018-07-04 03:51] sebastian-code commented on #148
Solved.

[2018-07-04 03:51] #148 closed

[2018-07-04 03:51] sebastian-code commented on #147
Solved in a different way.

[2018-07-04 03:51] #147 closed

[2018-07-04 03:52] sebastian-code commented on #116
Solved.

[2018-07-04 03:52] #116 closed

[2018-07-04 03:53] sebastian-code commented on #99
Solved. Code base updated with different approach to some of this use cases.

[2018-07-04 03:53] #99 closed

[2018-07-04 03:54] sebastian-code commented on #101
Went for a different approach using GraphQL to solve it.

[2018-07-04 03:54] #101 closed

[2018-07-04 03:54] sebastian-code commented on #149
Closing. Out of scope.

[2018-07-04 03:54] #149 closed

[2018-07-04 03:55] sebastian-code commented on #144
Done. Closing.

[2018-07-04 03:55] #144 closed

[2018-07-04 03:56] sebastian-code commented on #156
The new version implements an easy way to add this feature, leaving it just to allow some additional setup. Partially solved because this functionality is a little bit out of scope, but with the code base is easy to implement the missing parts.

[2018-07-04 03:56] #156 closed

[2018-07-05 12:06] mwanjajoel opened #169 "ERROR: unsatisfiable constraints:"
This error comes up when trying to run bootcamp in production using docker.
`openssl-dev-1.0.2o-r0:
    conflicts:
               libressl-dev-2.6.5-r0[pc:libcrypto=1.0.2o]
               libressl-dev-2.6.5-r0[pc:libssl=1.0.2o]
               libressl-dev-2.6.5-r0[pc:openssl=1.0.2o]
    satisfies: world[openssl-dev]
  libressl-dev-2.6.5-r0:
    conflicts:
               openssl-dev-1.0.2o-r0[pc:li

[2018-07-05 13:34] sebastian-code commented on #169
It looks like the build issue is related to some dependency constrain related somehow to the basic docker-alpine v3.6 image. I fixed it deleting the clashing dependency and now is building, but I'm not sure is solved. Can you check it out and report back?

[2018-07-05 13:55] mwanjajoel commented on #169
Let me try that out and get back to you

[2018-07-05 14:03] mwanjajoel commented on #169
Hey @sebastian-code coudl you kindly direct me on which Dockerfile you edited and the steps you took to make the edit?

Also, I edited `openssl-dev` to `openssl`  in the production Dockerfile for postgres and the project is now building very well.

[2018-07-05 20:52] sebastian-code commented on #169
I already submitted the required changes into the repo with the last commit, reference in this issue. If you clone the repo you'll have those changes.

[2018-07-05 22:11] sebastian-code commented on #169
I have been checking the whole Docker flow, and it appear than there is work to be done due to some django-channels requirements @mwanjajoel

[2018-07-07 15:55] sebastian-code opened #171 "Fix docker-compose flow"
At this point docker-compose files, and Docker flow in general is not working properly. It needs to be fixed in order to make it work for anyone who wishes to incorporate Docker (and docker-compose) in his workflow.

[2018-07-12 22:57] #169 closed

[2018-07-30 20:12] sebastian-code commented on #171
Fixed

[2018-07-30 20:12] #171 closed

[2018-08-07 19:28] kaustav1996 opened #173 "Ask Questions / Write Articles not working!!"
Hi, I deployed the lastest version locally following http://cookiecutter-django.readthedocs.io/en/latest/developing-locally.html , signed up , verified email using admin panel and logged in. But when I am trying to write articles / ask Questions this error comes up:

render() got an unexpected keyword argument 'renderer'
Error during template rendering

In template C:\Users\kaust\Desktop\globetrot

[2018-08-08 15:06] sebastian-code commented on #173
It looks you have a problem with the context variables passed through the _crispy-forms_ package, but you're running this on Windows and I don't use Windows so I can't be of much help. I'm sorry for that.

Can you test it on Linux? Can you test it using the _docker-compose_ scripts? To be honest, running development environments on Windows is hard for almost any software development language, and

[2018-08-10 14:14] sebastian-code commented on #173
Hi @kaustav1996 do you have updates on this? Have you found something with this issue?

[2018-08-10 15:05] kaustav1996 commented on #173
Hi @sebastian-code what I did was I removed the renderer argument from the function within crispy-forms in my env. I don't know what damage it will cause in the future.

[2018-09-28 16:58] #173 closed

[2018-11-06 19:48] programmersmith opened #174 "Please include documentation"
Please consider including documentation for those of us who are not advanced programmers. Thank you.

[2018-11-20 08:22] BaskerShu opened #175 "PostgreSQL is unavailable"
hello, I am new to docker. I have some trouble When I want to run bootcamp locally with docker. `bootcamp` is in `development` branch.
In the first, redis is running in my local machine with port 7379, so I change `redis: port: 6379: 6379` to `redis: port: 6400: 6379` to avoid port conflicts.
then I run `docker-compose -f local.yml build` to build images. at last I run `docker-compose -f local.yml

[2018-11-20 20:43] sebastian-code commented on #175
Hi @BaskerShu, it lloks like you haven't created the `.env` file with the required credentials to setup the different containers.

[2018-11-21 10:16] elshaddae opened #176 "Some javascript errors"
Hello, please help me with some js/websockets issues,
1. channels is not defined in the static/js/bootcamp.js line 95: `let webSocket = new channels.WebSocketBridge();`
Also, the path static/channels/js/websocketbridge.js doesn't exist.

[2018-11-21 12:45] sebastian-code commented on #176
Hi @elshaddae. Please verify than you started the REDIS server, and check than you provided the proper configurations and environment variables.

[2018-11-22 05:40] elkd commented on #176
@sebastian-code thank you for your response. I have failed to solve these issues, and I think maybe the code is wrong. Inside static, there is no "visible" file called channels, or do I have to add it by myself ?! the same for the channels.WebSocketBridge, it is not defined.

Also, forgive me for introducing many things in one issue, as I think they are small things that you can just help me with

[2018-11-22 14:06] sebastian-code commented on #176
I see you're using Docker @elshaddae, before going further I want to ask you some questions:
- Did you used the `docker-compose` files provided?
- Which one?
- Did you checked the wiki provided with this project?

[2018-11-23 02:50] elshaddae commented on #176
I am using docker-compose files yes. local.yml
I have read the wiki also cookie-cutter, redis documentation.
I am using redis 2.10.6 because version 3 throws cacheKey error

[2018-11-23 18:29] sebastian-code commented on #176
Hi @elshaddae I'll check, because apparently is not loading the django-channels package.

[2018-12-01 04:02] elshaddae commented on #176
Hello @sebastian-code any update on Django-channels issue, I still can't find the solution.

[2018-12-06 18:49] sebastian-code commented on #176
Hi @elshaddae I already checked the issue and the problem is related to the way the containers are being created when you use the `local.yml` or the `production.yml` _docker-compose_ files. I'll try to workout a solution.

[2018-12-09 16:50] sebastian-code commented on #176
Hi @elshaddae was this helpful to you?

[2018-12-11 12:46] elshaddae commented on #176
@sebastian-code, thank you for the info, I will figure out the solution, meanwhile, you can close the issue, it can be reopened when I (others) have found the solution or at least face the similar issue

[2018-12-11 14:07] kaiofreitas opened #177 "Deploy on Heroku failing"
Hi!
I've been trying to deploy this application on Heroku.. but I got this error:

`/app/.heroku/python/lib/python3.6/site-packages/environ/environ.py:639: UserWarning: Error reading /app/.env - if you're not configuring your environment separately, check this.
  "environment separately, check this." % env_file)`

I already did all the steps on the cookiecutter docs.
I already ran: heroku config:s

[2018-12-21 16:03] sebastian-code commented on #177
Hi @kaiofreitas apparently you are missing the `.env` file in the required place.

[2018-12-24 08:53] elshaddae commented on #176
@sebastian-code, I realized the problem is totally not related to the docker container. I tried the dev.yml but the issue was there I even tried running everything locally including redis.
I realized the channels javascript WebSocket wrapper [here](https://www.tutorialdocs.com/tutorial/django-channels/websocke-wrapper.html), was removed in channels 2.1.4 [commit](https://github.com/django/channels

[2018-12-24 11:40] sebastian-code commented on #176
Hi @elshaddae Ithank you for this help. The easiest way is to add manually the file to the project. I'll try to do, fixing the pointers so the projects keeps the actual implementation.

[2018-12-24 12:03] #176 closed

[2018-12-24 12:30] ziming2018 opened #178 "记得以前代码很简单一看就懂，怎么现在变得这么复杂？"
运行都成问题了

[2018-12-24 13:47] sebastian-code commented on #178
Hi @ziming2018 Just english and spanish. Sorry for the inconvenience.

[2018-12-24 13:47] #178 closed

[2018-12-24 13:47] sebastian-code commented on #174
Closing for lack of activity.

[2018-12-24 13:47] #174 closed

[2018-12-24 13:48] sebastian-code commented on #177
Is there any progress with this issue @kaiofreitas ?

[2018-12-24 13:48] #177 closed

[2018-12-24 14:16] ziming2018 commented on #178
@sebastian-code How to make it run

[2018-12-24 14:17] ziming2018 commented on #178
@sebastian-code Too much dependence

[2018-12-24 14:19] ziming2018 commented on #178
I want to learn django through it.

[2018-12-24 14:27] ziming2018 opened #179 "Can be search using django-haystack"

[2018-12-24 14:58] sebastian-code commented on #179
Is an interesting approach, perhaps to much to be honest. But I'm interested. If you have the appropriate PR, please submit it to include it in the project.

[2018-12-24 14:58] #179 closed

[2018-12-24 15:09] sebastian-code commented on #178
To make it run you please check the Wiki for further information. Is commendable than want to improve your skills with Django, and I'm Honored you want to do it with this project, enjoy it.

About the topic of dependencies, that is subjective, not to me. Perhaps development has some, but that is standard.

[2018-12-25 00:59] ziming2018 commented on #178
@sebastian-code Ok, thank you

[2019-01-19 10:37] bixicy opened #180 "Question, filter messages"
Hi,
is it possible to Filter user in Messages tab? Show only users who received or have received a message

[2019-01-20 12:31] sebastian-code commented on #180
Hi @bixicy.

At this moment Bootcamp doesn't has that functionality, but if you want, you can make a PR with that feature.

[2019-01-23 11:00] bixicy commented on #180
Sorry,
but what means PR?

[2019-01-25 00:07] bixicy commented on #180
haha, yeah.

I didn't know the acronym.

Is the version running on the test server not yet released?
It differs from the master in some points.

I would be familiarizing myself with the project from about the end of February.

[2019-01-25 19:53] sebastian-code commented on #180
Yes @bixicy We use GIT Flow as a method to work on this project and the master branch is what we deem "stable", if you want to contribute, please have in mind [this considerations](https://github.com/vitorfs/bootcamp/wiki/Develop-and-Support).

[2019-01-27 18:56] Shekharnunia opened #181 "error while running locally"
I try to follow [this](https://github.com/vitorfs/bootcamp/wiki/Installing-and-Running-Bootcamp) to test project locally, other than step 5 I perform all the steps but I'm getting these error when I try to post News with the help of modal, can anyone help me to figure out the problem, I really appreciate it.

![selection_003](https://user-images.githubusercontent.com/40422523/51805398-b5ab9000-229

[2019-01-27 20:53] bixicy commented on #181
I get the same error, I think it's because of the websockets

[2019-01-28 08:23] Shekharnunia commented on #181
@sebastian-code please can you help me to understand how do I setup the step 5, I tried but I'm not able to figure out how to solve this issue.
Thanks

[2019-01-28 14:32] soorajpazeekal opened #182 "Hi, Please Share any tutorial or doc about "how to Run this on local server with sqlite3 db?""

[2019-01-28 15:51] sebastian-code commented on #182
Hi @soorajpazeekal This is out of the scope of the project and is not recommended.

If you wish to do it that way, you have change the `.env` defaults, comment or delete the PostgreSQL constants and uncomment the `DATABASE_URL` one. Don't forget to edit the URL because that one is a non-working example.

[2019-01-28 15:51] #182 closed

[2019-01-28 15:55] sebastian-code commented on #181
About the bug, I don't see any on your error logs. About the step five, if you're talking about how to setup Redis, for that I suggest you refer to the manufacturer's instructions, once installed on your system, please change the environment variables as indicated in the wiki.

Keep in mind than that's the reason why I provided the Docker and docker-compose files.

[2019-01-28 16:54] Shekharnunia commented on #181
![screenshot from 2019-01-28 16-58-16](https://user-images.githubusercontent.com/40422523/51852091-58bfe080-234b-11e9-980a-8f6f5e7fbbc3.png)

as you can see, when I do upvote it will change colour, and if I do downvote it will stay in previous state and didn't change it.

[2019-01-28 19:22] sebastian-code commented on #181
Ah, ok, now I understand, this should be a different issue because is not related with the title nor the original content. Please open than in a new issue to discuss it in it's own context.

[2019-01-29 12:20] Shekharnunia opened #183 "bug in vote model"
![selection_008](https://user-images.githubusercontent.com/40422523/51907631-675ed400-23ed-11e9-9dd9-9de46051c472.png)
In this step, I was testing first upvote then if I immediately do downvote, the vote numbers will change but symbol will not change.
![selection_009](https://user-images.githubusercontent.com/40422523/51907714-a856e880-23ed-11e9-8e2f-116abda05ff3.png)
In this I refresh page and I

[2019-01-29 13:33] sebastian-code commented on #183
I see the behavior. To be honest I haven't found this, but perhaps some untested changes on Bootstrap are affecting it. I'll check. Thanks for letting me know @Shekharnunia

[2019-01-29 13:36] Shekharnunia commented on #183
I thought you was aware of it, because I noticed it a month ago but didn't put an issue, that's why yesterday first I ask you about this thing

[2019-01-29 17:47] samazaphikel commented on #183
I don't think this is a mistake. Please try reloading the pages after you have voted up and down. Possibly even without cache. CTRL + F5.
I think it's related to the django channels. Did you configure Redis correctly?

[2019-01-30 09:12] Shekharnunia commented on #183
I don't know if you guys are aware of this but when I search something example
![selection_013](https://user-images.githubusercontent.com/40422523/51970450-f24ad780-249c-11e9-84cf-0991cec22bda.png)
let suppose I post this question and then when I type shekhar in search box I get
![selection_011](https://user-images.githubusercontent.com/40422523/51970483-0bec1f00-249d-11e9-8be6-1aef1e734ca2.png)
!

[2019-01-30 15:41] sebastian-code commented on #183
As you said @Shekharnunia the vote UI is not working in the way it was intended. But the bug is not in the model, apparently is in the JS block responsible for doing the animation with the Ajax call, I'll spare some time to check it.

Sorry to be a pain about the search results, that is a new issue to raise, but in a nutshell: no, that's not how it should work, I was able to replicate the results

[2019-02-02 19:36] samazaphikel commented on #181
@Shekharnunia
about Redis. It depends on whether you use Windows or Linux as operating system

Some more details.
The First steps are only for Windows 10.

1.
Enable Windows Subsystem for Linux.Open **PowerShell as Administrator**

2.
Run this command
`Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Windows-Subsystem-Linux`
This takes some Minutes, Windows will ask you to reboot your

[2019-02-03 12:41] Shekharnunia commented on #181
thank you so much for such a great explanation. Now I'm able to easily able to run locally

[2019-02-06 18:23] samazaphikel commented on #180
https://github.com/vitorfs/bootcamp/pull/184

[2019-02-11 12:17] elshaddae opened #185 "A bug in messager app can't serialize UUID()"
In the messager app when you try to send a message a to another user, sometimes it is not possible to submit the message-form, Error is thrown from messages/send-message/ TypeError: can't serialize UUID() in _map_channel_keys_to_connection function of channnels_redis package. I don't know Django-channels but I think it might be channels_redis core problem and not the implementation in this project

[2019-02-19 19:51] sebastian-code commented on #185
Can you test it using a more recent version of Redis @elshaddae ? I'm using v 4.0.

[2019-03-02 11:52] shekharnunia2 commented on #183
actually I was just checking the search app and when I used .distinct() or with example
[code]

then I'm getting unique results.

[2019-03-03 09:14] Shekharnunia opened #186 "Image responsive not working with as expected"
When I use a link of outside inside my blog with high resolution then the image goes out of range is there any solution regarding this which I'm missing?
Thanks

[2019-03-08 13:15] Shekharnunia commented on #186
Actually I came up with a solution but I don’t know if it is best approach but it working for me right now.

For Image I check HTML and find that the  tag was inside

so I just did

    p img{
      max-width:100%;
      height:auto;
    }
if I have done

    img{
      max-width:100%;
      height:auto;
    }
then that will select all the images which may or may needed so I just select the markdo

[2019-03-10 18:22] #186 closed

[2019-03-11 14:33] sebastian-code commented on #181
Many thanks to you @samazaphikel for your help to solve @Shekharnunia issue.

[2019-03-11 14:33] #181 closed

[2019-03-11 18:58] #180 closed

[2019-03-15 20:23] ranjan-swd commented on #8
its not working .....
i have used like ...
DATABASE_URL=mysql://root:root@localhost:3306/thuraya_db
but getting errors like ...
C:\Users\User\AppData\Local\Programs\Python\Python37\python.exe C:/Users/User/Desktop/DjangoPROJECT/bloodhound-master/bloodhound-master/manage.py
Traceback (most recent call last):
  File "C:/Users/User/Desktop/DjangoPROJECT/bloodhound-master/bloodhound-master/manage.py",

[2019-03-19 12:34] elshaddae commented on #185
Hello @sebastian-code, I have tested the messager using Redis v 4.0 but this time I am using it on windows, it is not an official package but I still get the same error that appears randomly.

[2019-03-19 14:26] elshaddae commented on #185
The error is caused by the payload values in the models.py of the messager app. Line number 94. There are 3 values that are not serializable, these are the message_id since it is a UUID and the remaining 2 are sender and recipient that are evaluated as SimpleLazyObject. A simple workaround is to convert these 3 variables to string just with an str() function before passing them to the payload. Whe

[2019-03-22 09:06] #185 closed

[2019-04-08 08:09] quickerlab opened #187 "Does GraphQL API ready to use?"
A little question.
Does GraphQL API ready to use?

thanks.

[2019-04-09 00:42] sebastian-code commented on #187
Is not @quickerlab This API is mainly aiming to serve the inner workings of the VueJS components, but this is just part of a branch in development.

[2019-04-09 00:42] #187 closed

[2019-04-17 14:13] raugbein opened #188 "Migration not working because of DATABASE_URL"
Hi,
I downloadet the bootcamp repo and installed all requirements. After installing postresql on local I tried to migrate, but its not working.

in **.env** I unmarked **DATABASE_URL**
`DATABASE_URL=postgresql://bootcamp_user:bootcamp_pass@127.0.0.1:5432/bootcamp`

I dont changed something in the setting files. In the wiki I cant found any extra steps. what is wrong, or ehat I forgott?

Im using U

[2019-04-17 14:35] raugbein commented on #188
ahhh,I forgott the point in env

[2019-04-17 14:35] #188 closed

[2019-04-26 16:13] raugbein opened #189 "Messager, auto scroll after sending message"
Hi,

is it possible to auto scroll to bottom from the single_message.html after sending a message?

When I wrote a message to a user and all messages are more the one page, then the last message are not visible.

Example picture in attachment

![Bildschirmfoto von 2019-04-26 18-08-57](https://user-images.githubusercontent.com/49723343/56821541-e7f76a00-684e-11e9-8018-647cff811a10.png)

[2019-05-01 01:01] sebastian-code commented on #189
I noticed it @raugbein I've been looking for a solution, but this is not my strong side, so I haven't been able to solve it in a good fashion. I'm open to suggestions, or even a most preferred PR solving it, if you have one.

[2019-10-17 17:27] phamminhtris opened #193 "Help with setting up production."
Hi I am trying to spin up Bootcamp as a social network for researchers within my University. However, due to some constraints, I currently cannot use caddy as reverse proxy for deployment. Instead I use nginx. If possible, can you give me some guidance of what parameters I need to specify for production environment. I saw the env.example file but since the project is new to me, I don't know how ev

[2019-10-17 21:21] samazaphikel commented on #193
Hi,
Im not using caddy. Im using gunicorn for all my django projects.

Did you installed all requirements?
channels>=2.1.1  # https://github.com/django/channels
channels-redis>=2.2.1  # https://github.com/django/channels_redis

[2019-10-17 21:33] phamminhtris commented on #193
channels is installed. I encounter another issue now. Here are my docker file and .env. I am running into issue with the worker service. Not sure what it does. Really appreciate your help, your project is very interesting and can help many people in my university if this come into production.

[env.txt](https://github.com/vitorfs/bootcamp/files/3741386/env.txt)

[docker-compose.txt](https://github

[2019-10-17 21:42] samazaphikel commented on #193
change in your env
`REDIS_URL=redis://127.0.0.1:6379`

[2019-10-17 21:53] phamminhtris commented on #193
Can you show me how to configure worker service? And why do we need it? New to this project so not sure where to look for that information

[2019-10-17 22:03] samazaphikel commented on #193
uhh, its a lot. This is not done in some minutes...

First of all, please check if you installed all requirements on your server environment

pip install -U -r requirements/production.txt

Second, your project is working on local?

Configure a project is not possible without all files. And Im not the best to configure it. I can check my configuration and share, but this is NOT tested and approved

[2019-10-17 22:07] phamminhtris commented on #193
I am spinning up the service using docker compose. The local deployment work fine but production.yml is a totally different thing. I involve redis, daphne, postgres. If you have a docker-compose file handy somewhere, please share. Thanks

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: samazaphikel <notifications@github.com>
Sent: Thursday, October 17, 2019 5:03:3

[2019-10-17 23:27] samazaphikel commented on #193
In my case, IM using python 3.7.1 on Ubuntu server machine

Optional set-up Python version
`sudo update alternatives --install /usr/bin/python/ python /usr/bin/python3.7.1`

With this command, python 3.7.1 is my first priority

First, install enviroment on the machine
`sudo -H pip3 install virtualenv`

`cd /home/pages to change to the correct folder`

`mkdir bootcamp` to create the projectfolder

[2019-10-17 23:36] sebastian-code commented on #193
Hi @phamminhtris I'm glad you are using the project, and than you find it useful. There are two main ways to deploy the project to a production environment. The first one would be using Docker, but it has its caveats, and obviously it requires a fair amount of familiarity with Docker and `docker-compose`. I'm far from an expert and that is why I only use it for development, but perhaps you can fin

[2019-10-18 15:25] phamminhtris commented on #193
Is it enough to just use gunicorn as the only server? I saw some of the feature required an ASGI application server like daphne to serve web socket traffic. Please correct me if I am wrong. Thank you for you kind help. Really appreciate that.

[2019-10-18 16:46] samazaphikel commented on #193
Nginx is where requests from the internet arrive first. It can handle them very quickly, and is usually configured to only let those requests through, which really need to arrive at your web application.

Gunicorn translates requests which it gets from Nginx into a format which your web application can handle, and makes sure that your code is executed when needed.

Each can do something, which the

[2019-10-18 18:17] phamminhtris commented on #193
I understand the above. However, this project is quite special in term of protocol. It serve notification via websocket and to my understanding we will need more than a regular gunicorn and nginx to drive the app? When I run the local docker compose, I notice that /notifications does not seems to work. I know that I am asking a lot but really appreciate your time and effort to help me @samazaphike

[2019-11-06 13:08] #183 closed

[2019-11-13 06:57] maharshi-b opened #197 "Upvoting our own answer"
I can actually able to upvote my own answer. In stackoverflow, they wont allow upvoting our own answers. Can i fix this?

[2019-11-13 06:59] maharshi-b opened #198 "Stars count doesnt update"
When i click on Star icon in QA app, the count changes after i refresh the page. Also there is a problem with star icon. It doesn't show star after refreshing. Can this be fixed in ajax?

[2019-11-13 12:58] sebastian-code commented on #197
Hi @maharshi-b Off course you can try and fix it, I would love to have your PR with a quick fix on this feature. Please remember to keep your local code base up to date and push your PR to develop branch.

[2019-11-13 12:59] sebastian-code commented on #198
I think this can be fixed with Ajax @maharshi-b it would be your best shot to fix it. Remember to keep your code up to date and to push your PR to develop branch.

[2019-11-13 19:38] #198 closed

[2019-11-15 12:56] bixicy opened #200 "Articles return to created post"
Hi,
https://github.com/vitorfs/bootcamp/blob/master/bootcamp/articles/views.py line 47
`        return reverse('articles:list')`

how is it possible that after success saving it is redirected to the slug url and not to the index?

[2019-11-15 16:51] Vamoss opened #201 "See home screen without being logged"
Hello,

Is it possible to configure the network to not require signup before using it?
If no, could you point me a way to do that? I would like to help developing this option.

Cheers,
Carlos

[2019-11-15 16:51] Vamoss opened #202 "Build Translation"
Hello again,

How can I create a translation and set it?

I see the `locale\es\LC_MESSAGES\django.po`.
Also noticed that some pages does not have the `{% trans 'Home' %}` syntax. So I assume this is a working in progress.

Cheers,
Carlos

[2019-11-15 18:19] Anand-S23 commented on #200
Since `'articles:list'` is what is passed in, it is going to look for that in the urls, and that one corresponds to that is the list of all the articles view. If you want to redirect it to a particular article view right after you submit, you would have to get the slug of the Article.

After you get the slug the reverse would look like:
`reverse('articles:article', kwargs={'slug':slug})`

The firs

[2019-11-15 18:28] Anand-S23 commented on #201
Hi Carlos,

You have to find the particular view you want people to be able to view without login, and delete the `@login_required` if it is a function based view and the `LoginRequiredMixin` if it is class based views. I don't think this will cause any immediate problems, but it might in the future, just as a warning.

Hope this helps,
Anand

[2019-11-15 19:17] Vamoss commented on #201
It worked, thank you!

[2019-11-15 19:17] #201 closed

[2019-11-16 12:02] bixicy commented on #200
Yes, but slug is not present in this view
[code]

[2019-11-16 15:05] Anand-S23 commented on #200
Before the return in the form_valid method, try adding `slug = form.cleaned_data['slug']`. The cleaned data will get the value of slug and store it into slug. You can read more about this here: https://docs.djangoproject.com/en/2.2/ref/forms/validation/#cleaning-a-specific-field-attribute. Now there are several concerns I have with this. One the slug get populated after the form is saved and secon

[2019-11-16 21:54] Vamoss commented on #201
That was how I did it, maybe it would help other people.
https://github.com/EncontrosDigitais/bootcamp/commit/1504d11d121693ff5abf0e421ec8ccbaea4d7b46

It would be wonderful have this optional in the .env file.

[2019-11-16 22:11] Vamoss commented on #202
Found it:
https://github.com/vitorfs/bootcamp/blob/master/config/settings/base.py#L28

The name should match the folder name in here:
https://github.com/vitorfs/bootcamp/tree/master/locale

[2019-11-16 22:11] #202 closed

[2019-11-17 16:36] samazaphikel commented on #200
No, this is not possible. slug is not handled by **form**, by **models**.

A possible possibility could be to catch the ID after saving and read the slug URL. But I'm not sure if this is the best way.

Maybe someone else has a better idea

[2019-11-17 19:41] Vamoss commented on #202
I also had to add at the `base.py` the following lines:
[code]

[2019-11-18 03:42] Vamoss opened #203 "Missing character in JS causing error"
These lines are missing some other command:
https://github.com/vitorfs/bootcamp/commit/e9dc32ae6967e9395c7ed6e398430d0abdf1f336#diff-10df0b192047dca7dbbc7a0043668f15R117

Maybe it is that commit that caused that.

[2019-11-18 03:54] Vamoss opened #204 "Notification is always popping"
This is happening with translated bootcamp.

This happens because this line it not being translate too:
https://github.com/vitorfs/bootcamp/blob/master/bootcamp/static/js/bootcamp.js#L25

I fixed by doing this:
https://github.com/EncontrosDigitais/bootcamp/commit/0a9eccb6c55f11e0c341f5766b0c48e30ab4b39e

[2019-11-18 04:14] Vamoss commented on #74
Sorry to resurrecting this old issue.

I just installed the latest version and the tags doesn't seem clickable.
All of them points to `href="#"`, and if I try to access the supposed url directly, this gets me a 404 page. Ex: mydomain.com/articles/tag/myTag

Did I missed configuring something? Or is this supposed to happen?

Thank you!

[2019-11-18 04:20] Vamoss commented on #203
Just saw that was fixed in the develop branch. Sorry...
https://github.com/vitorfs/bootcamp/commit/265f9d06ff3401e826a0c5ef73860817292c7c72

[2019-11-18 04:20] #203 closed

[2019-11-19 09:32] oma0256 commented on #197
Hey @maharshi-b are you working on this or should I take it on?

[2019-11-19 10:22] maharshi-b commented on #197
Hi @oma0256 i am beginner to webdev, still learning. i cannot do that now. You can do it. Go..

[2019-11-19 13:59] sebastian-code commented on #204
Awesome @Vamoss this is a nice workaround. Are you planning to do a PR with it?

[2019-11-19 16:59] Vamoss commented on #204
I had to make another repository in my personal account.
The original fixed repository was already to modified 🤦...

[2020-01-05 14:57] #204 closed

[2020-01-05 14:58] sebastian-code commented on #200
Unrelated with the core scope of the application. Closing.

[2020-01-05 14:58] #200 closed

[2020-01-05 14:59] sebastian-code commented on #193
Very helpful guide. Closing.

[2020-01-05 14:59] #193 closed

[2020-01-05 16:42] sebastian-code commented on #197
Closing.

[2020-01-05 16:42] #197 closed

[2020-01-28 22:56] ahmed-alhaj1 commented on #132
where would include from django.urls import reverse?
like what file?

[2020-02-03 03:13] saiprashanth173 opened #208 "Inputs on database design decisions"
Hello folks,

Thanks for developing Bootcamp.

We are part of the database group at Georgia Tech. We are developing a tool called sqlcheck, for assisting database application developers in designing performant and maintainable applications. sqlcheck automatically detects sub-optimal database design choices and suggests better alternatives. For instance, storing comma-separated values in a column v

[2020-02-06 18:29] Vamoss opened #209 "Help with setting up Apache production"
Hello,

I've seen this similar support request using nginx (https://github.com/vitorfs/bootcamp/issues/193).

I have a VPS running Ubuntu (18.04) + Apache (2.4.29).
The applications runs well by this command line:
`python3 manage.py runserver 0.0.0.0:8000 --settings=config.settings.production`

Then I configured the WSGI following this tutorial:
https://www.digitalocean.com/community/tutorials/how

[2020-02-06 21:53] Vamoss commented on #209
I could get a better understanding about wsgi configuration from these documentation:

1. Django wsgi: https://docs.djangoproject.com/en/3.0/howto/deployment/wsgi/
2. Django mod_wsgi: https://docs.djangoproject.com/en/3.0/howto/deployment/wsgi/modwsgi/
3. Django mod_wsgi with virtual enviroment: https://modwsgi.readthedocs.io/en/develop/user-guides/virtual-environments.html

Now my Apache conf loo

[2020-02-07 07:38] jinjk92217 commented on #209
In you /home/my_repository/config/wsgi.py
do you have

os.environ.setdefault("DJANGO_SETTINGS_MODULE", "config.settings.production")

before
application = get_wsgi_application()

[2020-02-07 07:51] jinjk92217 commented on #209
You can try for example
https://github.com/vitorfs/bootcamp/blob/master/config/wsgi.py#L26
add a line:
sys.path.append(os.path.join(app_path, "/home/my_repository/bootcamp"))

also move line 35 above line 28

[2020-02-07 19:55] Vamoss commented on #209
Thank you for helping.
I tried that and the error remains:
`ModuleNotFoundError: No module named 'config'`

I also tried to debug at `wsgi.py`:
[code]

And got this:
[code]

And I noticed that the os.environ('DOMAIN_NAME')) was not set.
Should the `.env` file be already loaded?

[2020-02-10 21:58] Vamoss commented on #209
The problem was the python working directory.

It was pointing to `/`.

To set the working directory you need to specify the `home` parameter at the `WSGIDaemonProcess`.

My apache conf ended up like this:

[code]

[2020-02-11 09:55] thesaadmirza opened #210 "ORDER BY not allowed in subqueries of compound statements."
Just after deploying on local, Open Inbox and getting this error.
Using SQLITE Database.
![Screenshot 2020-02-11 14 55 25](https://user-images.githubusercontent.com/14211943/74226561-94231800-4cde-11ea-9177-773e39bb5a43.png)

[2020-02-11 16:07] sebastian-code commented on #210
@thesaadmirza Please check the Wiki and the documentation. Bootcamp doesn't work with SQLite out of the box. If you wish to make it happen, you would need to revamp some parts of the code. Bootcamp is designed to work with PostgreSQL

[2020-02-11 16:07] #210 closed

[2020-02-11 16:09] sebastian-code commented on #208
These choices are delegated to the Django ORM, given the data structure required by the internal workflows. The data relationships in place are due to the way the ORM works for pulling related data.

[2020-02-11 16:09] #208 closed

[2020-02-11 16:18] thesaadmirza commented on #210
yeah, I see that. Thanks
one more thing, the Demo link version, and code is totally different.?

[2020-02-11 20:52] sebastian-code commented on #210
Yes @thesaadmirza the demo instance is running an old version.

[2020-02-11 20:55] thesaadmirza commented on #210
sorry for asking, where is the old code?

[2020-02-17 05:18] smallnine9 opened #211 "SyntaxError: invalid syntax in base.py"
When I run python manage.py migrate, there is error:

File "/home/web/Desktop/bootcamp/config/settings/base.py", line 248
    REDIS_URL = f'{env("REDIS_URL", default="redis://127.0.0.1:6379")}/{0}'
                                                                                                                        ^
SyntaxError: invalid syntax

How to resolve this problem? thanks :)

[2020-02-18 00:44] #211 closed

[2020-02-29 00:52] Vamoss opened #212 "Why do we have a /graphql url?"
Hi,

I just discorevered a `/graphql` URL, example `www.mydomain/graphql`

This url displays graphql console in the broswer and enables any user the executes queries to retrieve any information from db.

Like user passwords
[code]

That is a huge security flaw, is there a reason for that?

Cheers,
Carlos

[2020-02-29 00:56] Vamoss commented on #209
I have this error when trying to connect to the websocket:
`wss://www.mydomain.com/notifications/`

It returns:
`Error during WebSocket handshake: Unexpected response code: 200`

I am not sure about the issue nature.
How can correctly configure the websocket on a Apache server?

[2020-02-29 02:14] sebastian-code commented on #209
@Vamoss Actually there is no need to use Apache, just with the usual setup for Daphne recommended by the people from the Django Channels project is enough. But if you want to use it anyway, the only use you can have for Apache is to use it as a reverse proxy. Perhaps this can help you out https://www.digitalocean.com/community/tutorials/how-to-use-apache-http-server-as-reverse-proxy-using-mod_prox

[2020-02-29 02:14] #209 closed

[2020-02-29 02:21] sebastian-code commented on #212
Yes @Vamoss the GraphQL API is there to replace any AJAX requirement. The reason you are able to access the server is that it is open to anyone with an valid session. If you want you can disable it, but you need to be careful when doing it not to disable the internal API.

[2020-02-29 18:49] Vamoss commented on #209
Thank you @sebastian-code !

I was able to run Daphne in parallel with Apache over a differente port:
[code]

Than I changed `window.location.host` in these files:
https://github.com/vitorfs/bootcamp/blob/639687c1422c41d5365335ac4101a42faf6ef767/bootcamp/static/js/bootcamp.js#L94 https://github.com/vitorfs/bootcamp/blob/44b84bd12560029f71d087f64141698567922cd9/bootcamp/static/js/messager.js#L58 ht

[2020-03-02 12:29] Vamoss commented on #212
Thank you again @sebastian-code !

I just commented the line and disabled the access:
https://github.com/vitorfs/bootcamp/blob/44b84bd12560029f71d087f64141698567922cd9/config/urls.py#L24

So far, everything still working.

These are the references I found:
https://github.com/vitorfs/bootcamp/search?q=graphql&unscoped_q=graphql

I will soon test if it break the paginator, not sure how this line wor

[2020-03-02 12:29] #212 closed

[2020-03-03 12:46] Vamoss opened #213 "AWS Storage"

[2020-03-03 12:50] Vamoss commented on #213
Soon Django will change the 'AWS_DEFAULT_ACL' to None as default.
As a consequence all images uploaded to production will be not accessible.

Now it is a warning, and to solve it you should set this line:
https://github.com/EncontrosDigitais/bootcamp/blob/master/config/settings/production.py#L87

I promise get back to fix it if no one catch before.
My branch is way to modified, I am rushing to fix

[2020-03-04 16:25] Vamoss opened #214 "Auto generate link for URL on news and comments"
Hi,

I have recently implemented auto generating hyperlinks on URL for news.

This was done by these two commits:

1. News list:
https://github.com/EncontrosDigitais/bootcamp/commit/6681653f2d9910d72189932d4c3aaa323f1d2112

2. News Comments:
https://github.com/EncontrosDigitais/bootcamp/commit/dc9e31997feeefddec928de31d49f2c605ca1c8c

If it is an interest of all, I could create a pull-request.

Ch

[2020-03-11 22:39] Vamoss commented on #214
Hello again,

I have improved this issue suggestion by getting the first URL from text and extracting the meta information, like facebook or twitter does:
![Captura de Tela 2020-03-11 às 19 33 08](https://user-images.githubusercontent.com/245841/76470534-2a765680-63cf-11ea-94ff-98914cb7dced.png)

This was the commit that implemented it:
https://github.com/EncontrosDigitais/bootcamp/commit/a74f15b

[2020-03-21 02:53] sebastian-code commented on #214
This is actually awesome @Vamoss I have been thinking about implementing this for some time now, but I hadn't the time to do it myself. I appreciate you took the time to show it to me. This is great, and I appreciate it very much. Yes, please, I gladly receive your PR for this.

[2020-03-21 14:22] Vamoss commented on #214
Great to hear you like it.

I started learning Django because bootcamp, and because of that I don't know much.
Can you please check if this requirement was added in the correct place:
https://github.com/EncontrosDigitais/bootcamp/commit/a74f15ba696dea8eee66c68fb4c5ae73b0a9b00e#diff-7fe11226cff646f5d9f35faa76217059

[2020-03-22 05:49] sebastian-code commented on #214
Yes @Vamoss it is in the right place. Can you replace the URL you use to describe the package, for the URL to the repository?

[2020-04-04 15:38] bixicy opened #216 "Deploy on Production failing"
Hi.

Im trying to publish from local to production server.

with python manage.py runserver, I can run local without any error messages.

Bur when I try on production with gunicorn and NGINX compination. I cant start the server

[code]

do i have to make any extra settings for production?

[2020-04-04 21:48] Vamoss opened #217 "Search autocomplete not working"
I was merging repositories and notice this line was removed.
https://github.com/vitorfs/bootcamp/blob/master/bootcamp/templates/base.html#L116

How it was before:
[code]

[2020-04-04 22:03] Vamoss opened #218 "Q&A Votes: downvoting gives JS error"
The variable `vote` is not defined when clicking downvote option:
https://github.com/vitorfs/bootcamp/blob/master/bootcamp/static/js/qa.js#L69
https://github.com/vitorfs/bootcamp/blob/master/bootcamp/static/js/qa.js#L93

Recommending setting it like:
[code]

[2020-04-05 13:06] Vamoss commented on #214
Hi @sebastian-code,
BeautifulSoup has no github/git official respository.
There are some outdated versions. So I think it is better to link to the official website.
Just made the pull-request: https://github.com/vitorfs/bootcamp/pull/219

Here is a screenshot:
<img width="851" alt="Captura de Tela 2020-04-05 às 10 05 40" src="https://user-images.githubusercontent.com/245841/78499099-0fc0a480-7725

[2020-04-05 13:09] Vamoss commented on #214
The only feature not implemented yet would be cache the metatag image.
For example, from servers like facebook and instagram, the image link expires after a few hours.
I think that is simple to implement, love if someone could make it :)

[2020-04-05 13:48] samazaphikel commented on #216
You need to install and configure some extra stuff

[2020-04-08 21:28] #216 closed

[2020-04-08 21:29] sebastian-code commented on #217
I do have to implement this block again. The AJAX call needs improvement.

[2020-04-13 11:29] gusbakker opened #222 "Notifications do not have the links for the Actor and the respective Action"
As in the old version, this should also have those links

[2020-04-13 12:43] Vamoss commented on #214
Hi @sebastian-code, amazing working improving the code!

Just one small fix. The news are giving an error if there is no URLs in it. This should fix:
https://github.com/Vamoss/bootcamp/commit/6d991dd400de1b1ce18261df3757a5dacf9a6762

Before a pull-request I would like discuss two topics:
1. By replace `subprocess` to `requests` we loose the ability to force a timeout in servers that never respond.

[2020-04-13 15:11] sebastian-code commented on #214
Now I see the value of using a really complex regex like the one you gave @Vamoss I'll recover it then. About the `subprocess` method, that is a bad idea, it exposes any installation to unnecessary risks, and also makes more difficult to use Bootcamp in different environments. Besides, you can assign a timeout feature to the requests call. I'll add the same 5 sec timeframe to the call.

[2020-04-13 15:44] Vamoss commented on #214
I know `request` has a native timeout parameter, but please consider this note from the documentation:

https://requests.readthedocs.io/en/latest/user/quickstart/#timeouts

During the development I find some cases where a website returned the first byte(avoiding request timeout) and then took 30 seconds to fully return the content. Another approach to use with `request` is using `eventlet `:
https

[2020-04-13 19:44] sebastian-code commented on #214
@Vamoss I see your point. I think this can be solved implementing the proper exception workflow from requests when declaring the timeout, I was thinking on something of the likes of:

[code]

[2020-04-13 19:47] sebastian-code commented on #214
By the way @Vamoss I could not reproduce a timeout situation, do you have an URL I can work with for testing?

[2020-04-13 23:37] Vamoss commented on #214
Great! There is hope :)

Yes, that is hard to simulate, I don't remember exactly what site I was testing for that case, but I suspect it was https://reddit.com, or my personal website https://vamoss.com.br (my server can be very slow sometimes).

This site may help (I tested some pages and not all of them were actually slow):
http://internetsupervision.com/scripts/urlcheck/report.aspx?reportid=slo

[2020-04-14 18:32] verkko opened #225 "Error while posting news"
I have installed on windows 10 locally. am getting an error while submitting my 1st news,
Please find the image below
![1](https://user-images.githubusercontent.com/2504880/79260739-5f813780-7eac-11ea-9363-38f09d1f9833.PNG)

[2020-04-14 18:53] sebastian-code commented on #225
Hi @verkko can you share the whole stack trace of the error? The screenshot you are sharing takes away all the relevant data. It would be very helpful to have so I can understand what is happening. Also, can you share with me the URL you were trying to call?

[2020-04-14 18:56] verkko commented on #225
@sebastian-code Thanks for reply

Request Method: | POST
-- | --
http://127.0.0.1:8000/comments/post/
3.0.5
ConnectionRefusedError
[Errno 10061] Connect call failed ('127.0.0.1', 6379)
C:\Users\ameen\AppData\Local\Programs\Python\Python37\lib\asyncio\selector_events.py in _sock_connect_cb, line 503
C:\Users\ameen\PycharmProjects\bk6\newbk\Scripts\python.exe
3.7.6
['C:\\Users\\ameen\\PycharmProject

[2020-04-14 18:57] verkko commented on #225
Environment:

Request Method: POST
Request URL: http://127.0.0.1:8000/comments/post/

Django Version: 3.0.5
Python Version: 3.7.6
Installed Applications:
['django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.sites',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'django.contrib.humanize',
 'django.contrib.admin',
 'django.forms',
 'crispy

[2020-04-14 18:59] sebastian-code commented on #225
Ahh, I see, the issue you're experiencing is related to your Redis setup. Check your local redis configuration, and validate than the ASGI server is running properly.

[2020-04-14 19:09] verkko commented on #225
Thanks for reply, I have tried. Now am getting another error

Environment:

Request Method: POST
Request URL: http://127.0.0.1:8000/comments/post/

Django Version: 3.0.5
Python Version: 3.7.6
Installed Applications:
['django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.sites',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'django.contrib

[2020-04-14 19:18] verkko commented on #225
Yeah, That got sloved. Can you please check this once.

![Screenshot (7)](https://user-images.githubusercontent.com/2504880/79264798-c30e6380-7eb2-11ea-9002-846b9cbfdddc.png)

[2020-04-14 20:00] Vamoss commented on #225
This should solve, there is already a pull-request:
https://github.com/Vamoss/bootcamp/commit/6d991dd400de1b1ce18261df3757a5dacf9a6762

It happens when a news doesn't have a URL in the text.

[2020-04-14 22:33] sebastian-code commented on #214
@Vamoss I'm trying to revert the regex, but when I tested it, in the specific case you say (I tried using vamoss.com.br) it throws a MissingSchema error; the log actually has a mention about detecting the right pattern `Invalid URL 'vamoss.com.br': No schema supplied. Perhaps you meant http://vamoss.com.br?`

Do you know something? My regex is really bad.

[2020-04-15 06:05] verkko opened #226 "Database error while open messages"
Here is the logs of error message

Environment:

Request Method: GET
Request URL: http://127.0.0.1:5000/messages/

Django Version: 3.0.5
Python Version: 3.7.6
Installed Applications:
['django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.sites',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'django.contrib.humanize',
 'django.contrib.admi

[2020-04-15 11:06] Vamoss opened #227 "Tags Case-sensitive"
Tags in different cases are not being grouped.
Like: Python and python...

[2020-04-15 11:32] Vamoss commented on #214
It happens because `request` requires using a schema (https://) in the url, this didn't happen with `subprocess` because `curl` auto fixed that.

This code works for me:
[code]

[2020-04-15 11:49] verkko commented on #226
changed database to mysql working fine..

[2020-04-15 11:49] #226 closed, assigned to nobody

[2020-04-15 12:50] verkko opened #228 "is there any version change"
hello all,

I have installed it successfully but am getting the old version (find the screen shot below)

![1](https://user-images.githubusercontent.com/2504880/79338910-ae2ee000-7f45-11ea-9c83-a1062b13e3ad.PNG)

How can i get the latest one as below.

![2](https://user-images.githubusercontent.com/2504880/79338950-be46bf80-7f45-11ea-9e4f-37afc3d9ef8c.PNG)

[2020-04-15 20:32] sebastian-code commented on #214
No problem @Vamoss I fixed it using a different approach. Thanks for the help tho.

[2020-04-15 23:05] sebastian-code commented on #228
@verkko on which are you working on? This design belongs to the version 1.x.

[2020-04-16 09:20] verkko commented on #228
am working on 1st image design. how can i upgrade to the latest

[2020-04-16 12:34] sebastian-code commented on #228
Check the branch you're working on @verkko It seems to me that you're on one of the old tags.

[2020-04-16 13:40] sebastian-code commented on #225
Fixed in the last version @verkko

[2020-04-16 13:40] #225 closed

[2020-04-16 14:15] #228 closed, assigned to nobody

[2020-04-16 15:12] sebastian-code commented on #222
@gusbakker  did you check the changelog and commits for the reasons behind it?

[2020-04-16 18:26] gusbakker commented on #222
I can't find. Is there a reason for it?

[2020-04-17 11:13] verkko commented on #228
it is showing *master

[2020-04-22 09:49] verkko opened #230 "Global Interactions count is not working"
![1](https://user-images.githubusercontent.com/2504880/79967446-775c4b00-84ac-11ea-8357-6c3cea3ca1c9.PNG)

The Feeds, Articles and all the other counts are not working on my local deployment. Can someone help me on this.

[2020-04-22 11:52] Vamoss commented on #230
They are not implemented.
https://github.com/vitorfs/bootcamp/blob/master/bootcamp/templates/users/user_detail.html#L64

[2020-04-22 16:58] gusbakker opened #231 "Problems when deploying to production using Heroku"
For anyone here that could not successfully deployed to production using Heroku:

I found this issue in Procfile:
`web: daphne -b 0.0.0.0 -p 8001 config.asgi:application`

which has to be changed to this:

`web: daphne config.asgi:application --port $PORT --bind 0.0.0.0 -v2`

I will try to commit soon these changes as I finally could deploy with success using Daphne server using ASGI protocol.

An

[2020-04-22 16:59] verkko commented on #230
Can someone help me to that

[2020-05-07 11:49] #230 closed, assigned to nobody

[2020-05-07 11:52] verkko opened #232 "Email Templates"
How can we change the email templates of verification, forgot password etc.

[2020-05-07 13:54] verkko commented on #232
![1](https://user-images.githubusercontent.com/2504880/81302691-4ed17500-9098-11ea-97c7-40420f886f4e.PNG)

[2020-05-09 02:28] verkko opened #233 "Getting Broken Images"
![1](https://user-images.githubusercontent.com/2504880/81461630-af60cf00-91ca-11ea-91cb-6d62777d41fe.jpg)
![2](https://user-images.githubusercontent.com/2504880/81461634-b38cec80-91ca-11ea-8fa7-7d94bfa3f459.jpg)

Am getting broken images at uploaded profile pics and featured images

[2020-05-09 03:43] verkko commented on #233
the empty image 750x300 is working fine

[2020-05-09 12:02] sebastian-code commented on #233
It looks like you are uploading the images to a nonexistent location @verkko or at least one where your system has no access.

[2020-05-09 12:07] sebastian-code commented on #232
Yes @verkko you can change them, for that you need to override the templates from Django Allauth, I already modified them a little bit in the folder templates/account, there you can find the ones I override, if need any other one (I think I left a couple intact), just check the documentation, and create your own version.

[2020-05-09 12:44] verkko commented on #233
I didn't change any thing except css files, am using ssl for my website is that the issue.

[2020-05-09 12:50] sebastian-code commented on #233
No @verkko that shouldn't be an issue at all, but I don't recognize the base URL pattern of the image.

[2020-05-09 12:53] verkko commented on #233
![1](https://user-images.githubusercontent.com/2504880/81474367-93891780-9222-11ea-8603-b5a4dba4735e.jpg)
MEDIA_ROOT = str(ROOT_DIR("media"))
MEDIA_URL = "/media/"

[2020-05-09 18:23] timatrecoveryprofile opened #234 "Add screenshots"
Hi! I'm searching for a Django Social Network project to base my company's site on. It would be really helpful if there were screenshots so I don't have to deploy just to see what BootCamp looks like.

[2020-05-10 02:40] gusbakker commented on #234
Hi @timatrecoveryprofile

You can see the older version here:
https://trybootcamp.vitorfs.com/

But for the new version, here's a screenshot of what it looks like:

![image](https://user-images.githubusercontent.com/11593313/81489619-a970f980-926f-11ea-92b3-0ad29d1fb345.png)

This new version is waiting for a pull request to be accepted.

[2020-05-14 16:42] ndimaria opened #235 "Docker Deployment"
When I try to build with Docker I get the following issue

ERROR: Could not build wheels for gevent which use PEP 517 and cannot be installed directly
ERROR: Service 'worker' failed to build: The command '/bin/sh -c pip install --no-cache-dir -r /requirements/production.txt     && rm -rf /requirements' returned a non-zero code: 1

I am on Ubuntu 18.04.

[2020-05-18 20:25] #232 closed, assigned to nobody

[2020-05-20 01:01] dannyeei commented on #235
I was about to post exactly the same thing. I'd be very interested in the solution to this

[2020-06-06 18:15] reverend333 commented on #235
Same issue here.

[2021-02-01 12:49] Vamoss opened #241 "Getting error when a comment has a link"
[code]

More information about this issue here:
https://github.com/EncontrosDigitais/bootcamp/issues/26

<img width="877" alt="Captura de Tela 2021-02-01 às 09 46 31" src="https://user-images.githubusercontent.com/245841/106460675-73fde300-6472-11eb-8566-d343825b66a7.png">

[2021-02-21 15:05] Vamoss commented on #214
I think we can close this issue @sebastian-code

[2021-02-21 15:08] Vamoss opened #243 "Q&A make tags clickable/filterable"
Now tags are not clickable or filterable.

[2021-03-24 09:01] liangdongyang opened #244 "Error while posting news"
![Snipaste_2021-03-24_16-57-43](https://user-images.githubusercontent.com/13219027/112282761-5efb3e80-8cc2-11eb-8b6c-603594411716.png)
![Snipaste_2021-03-24_16-58-04](https://user-images.githubusercontent.com/13219027/112282797-69b5d380-8cc2-11eb-940c-6a4537f7b991.png)

[code]

[2021-03-25 03:10] #244 closed, assigned to nobody

[2021-07-09 18:03] Vamoss commented on #241
This is error is very consistent with twitter links.
Can anyone please help?

[2021-07-09 21:05] sebastian-code commented on #241
@Vamoss do you have an example of the original text causing this error? If this is happening with the comments, have you tried changing the comments app version?

[2021-07-09 21:27] Vamoss commented on #241
Hi @sebastian-code, I did some tests here and figure out that it is not only in the comments, it happens also on the news main publishing system.

Here is an example of a Twitter link that breaks the system because it does not have <head> and <title> HTML tags...
https://twitter.com/nervous_jessica/status/1409953583651594247

And here is another example that breaks the system because some sites re

[2021-12-15 10:48] labeldevops opened #246 "Status of project?"
Hi, this is interesting - however, it is not clear what kind of status this project has.

* Was this a one-shot demo?
* Is it a real life project used anywhere?
* Where is the website for this project - the URL in the description only leads to some login with zero information.
* Where is the documentation?

Thanks!

[2021-12-15 10:48] AStogov commented on #246
你好，我正有事不在，如果要了解详情，请访问这里

[2022-05-21 04:27] Vamoss commented on #246
Hi @labeldevops,

You can find information on the wiki page:
https://github.com/vitorfs/bootcamp/wiki

I am running a fork here:
https://github.com/encontrosdigitais/bootcamp

Deployed here:
https://encontrosdigitais.com.br/

The project and the slowdown in the last few months, but I would love to see you keep it active.

Cheers

[2022-09-01 23:10] andhikalfariz commented on #243
Hello mate! is this issue still open? Maybe I want to try to fix it if possible.

[2022-10-07 21:49] reeonaa2youu opened #248 "Q"
6